Repository social-tw/social-tw-website, pull requests merged in 2023-10, with the labels that each got.

#115 [Feature] login signup error handling flow
  packages/frontend/src/components/login/AuthForm.tsx
  packages/frontend/src/components/modal/ErrorModal.tsx
  packages/frontend/src/components/modal/SignupLoadingModal.tsx
  packages/frontend/src/constants/error-messages/loginErrorMessage.ts
  packages/frontend/src/contexts/ProtectedRoute.tsx
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useAutoNavigation.ts
  packages/frontend/src/hooks/useErrorMessage.ts
  packages/frontend/src/hooks/useLocalStorage.ts
  packages/frontend/src/hooks/useLoginWithServer.ts
  packages/frontend/src/hooks/useLoginWithWallet.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/hooks/useSignupWithWallet.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/PostCreate.tsx
Labels: refactor, frontend

#117 [Fix] epkhelper checking
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/package.json
  packages/contracts/test/UnirepApp.test.ts
  packages/contracts/test/utils.ts
  packages/relay/src/routes/post.ts
  packages/relay/test/post.test.ts
  packages/relay/test/utils/genProof.ts
  yarn.lock
Labels: refactor, test, contracts, relay

#120 [Test] Add synchronizer in UserStateFactory to avoid randomly failed
  packages/relay/test/login.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/utils/UserStateFactory.ts
Labels: test, relay

#118 [Feature] show a loading bar when creating a post
  packages/frontend/src/__tests__/components/PostForm.test.tsx
  packages/frontend/src/components/PostForm.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/components/post/PostForm.tsx
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/usePosts.ts
  packages/frontend/src/pages/PostCreate.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/utils/makeCancellableTask.ts
Labels: contracts, frontend

#132 [feature] add epochkeyaction schema and api
  packages/relay/package.json
  packages/relay/src/config.ts
  packages/relay/src/routes/counter.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/singletons/schema.ts
  packages/relay/src/synchornizer.ts
  packages/relay/src/types/ActionType.ts
  packages/relay/src/utils/TransactionHelper.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/utils/genProof.ts
  packages/relay/test/utils/post.ts
  packages/relay/test/utils/signUp.ts
  yarn.lock
Labels: documentation, feature, test

#149 [feature] [comment] [frontend] add comment list
  packages/frontend/package.json
  packages/frontend/src/components/post/Avatar.tsx
  packages/frontend/src/components/post/Comment.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/formatDate.ts
  yarn.lock
Labels: feature, frontend

#166 [WIP] [comment] [frontend] comment status notification
  packages/frontend/package.json
  packages/frontend/src/assets/post.svg
  packages/frontend/src/components/notification/ActionNotification.tsx
  packages/frontend/src/components/notification/ActionTable.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/utils/mergeRefs.ts
  yarn.lock
Labels: frontend

#158 [feature] [comment] [frontend] delete comment UI
  packages/frontend/src/components/Dialog.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentDeleteDialog.tsx
  packages/frontend/src/pages/PostCreate.tsx
  packages/frontend/src/pages/PostDetail.tsx
Labels: frontend

#154 [Feature] socket io implement
  packages/frontend/package.json
  packages/frontend/src/index.tsx
  packages/frontend/src/socket.ts
  packages/relay/package.json
  packages/relay/src/index.ts
  yarn.lock
Labels: documentation, feature, test, frontend, relay

#144 [relay] Add postgres connector and reset method
  packages/relay/src/config.ts
  packages/relay/src/index.ts
  packages/relay/src/synchornizer.ts
Labels: test, relayer, relay
