Repository social-tw/social-tw-website, pull requests merged in 2023-09, with the labels that each got.

#77 fix: trigger ci when push to main
  .github/workflows/main-ci.yml
Labels: automation

#79 fix: ignored yarn-error.log
  .gitignore
  packages/frontend/yarn-error.log
Labels: documentation, test, frontend

#80 fix: circom installaion
  README.md
Labels: documentation

#90 issue-68: update readme
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement, feature, test

#101 [enhancement] - types, txManager, contract unit test
  packages/contracts/hardhat.config.ts
  packages/contracts/test/UnirepApp.test.ts
  packages/relay/hardhat.config.ts
  packages/relay/src/services/UserService.ts
  packages/relay/src/singletons/TransactionManager.ts
  packages/relay/src/synchornizer.ts
  packages/relay/src/types/ActionType.ts
  packages/relay/src/types/User.ts
  packages/relay/src/types/UserRegisterStatus.ts
  packages/relay/src/types/index.ts
  packages/relay/test/login.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/utils/UserStateFactory.ts
Labels: enhancement, test, contracts, relay

#108 Add favicon and change app name
  packages/frontend/public/favicon.ico
  packages/frontend/public/index.html
  packages/frontend/webpack.config.js
Labels: frontend

#113 [Fix] #94 fix LOAD_POST_COUNT store in config.ts
  packages/relay/src/config.ts
  packages/relay/src/routes/post.ts
Labels: documentation, test, relay

#116 [Fix] Post id
  packages/frontend/src/components/Post.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/types/index.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/synchornizer.ts
Labels: contracts, frontend, relay

#114 [Fix] #99 update UnirepApp ABI import path
  packages/frontend/scripts/deploy-contracts.mjs
  packages/relay/src/config.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/routes/request.ts
  packages/relay/src/singletons/TransactionManager.ts
Labels: documentation, test, contracts, frontend, relay
