Repository social-tw/social-tw-website, pull requests merged in 2023-11, with the labels that each got.

#150 [feature] [comment] [frontend] add epoch timer
  packages/frontend/package.json
  packages/frontend/src/assets/epoch.svg
  packages/frontend/src/components/EpochInfo.tsx
  packages/frontend/src/hooks/useEpoch.ts
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/types/globals.d.ts
  packages/frontend/webpack.config.js
  yarn.lock
Labels: feature, frontend

#169 [refactor] Refactor socketio to singleton
  packages/relay/src/index.ts
  packages/relay/src/singletons/SocketManager.ts
  packages/relay/src/types/SocketTypes.ts
Labels: duplicate, feature, refactor, test, relay

#174 [fix] Fix CORS
  packages/relay/src/index.ts
Labels: relay

#129 [relay] Feature/vote relay
  packages/relay/src/error/voteError.ts
  packages/relay/src/middleware.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/routes/vote.ts
  packages/relay/src/singletons/schema.ts
  packages/relay/src/synchornizer.ts
  packages/relay/src/types/ActionType.ts
  packages/relay/src/types/VoteAction.ts
  packages/relay/src/types/index.ts
  packages/relay/src/utils/TransactionHelper.ts
  packages/relay/test/vote.test.ts
Labels: feature, test, contracts, relay

#167 [feature] [comment] [frontend] report flow ui
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentDeleteDialog.tsx
  packages/frontend/src/components/modal/Modal.tsx
  packages/frontend/src/components/modal/NoteModal.tsx
  packages/frontend/src/components/modal/ui/comment/CommentReportModal.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/types/index.ts
Labels: feature, frontend

#179 [refactor] Refactor create user state frontend
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useLoginWithServer.ts
  packages/frontend/src/hooks/useLoginWithWallet.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/hooks/useSignupWithWallet.ts
  packages/frontend/src/utils/api.ts
  packages/frontend/src/utils/createProviderByUrl.ts
Labels: refactor, test, frontend

#134 [feature] [comment] [contract] comment feature in contract
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/scripts/utils.ts
  packages/contracts/test/Comment.test.ts
  packages/contracts/test/SignupAndPost.test.ts
  packages/contracts/test/types.ts
  packages/contracts/test/utils.ts
  packages/relay/src/config.ts
Labels: feature, test, contracts, frontend, relay

#159 [relay] feat(comment): add handleComment, handleUpdatedComment function for S…
  packages/relay/hardhat.config.ts
  packages/relay/src/singletons/schema.ts
  packages/relay/src/synchornizer.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/synchornizer.test.ts
Labels: feature, test, relay

#189 [Relay][Comment] add socket behavior
  packages/relay/src/index.ts
  packages/relay/src/singletons/SocketManager.ts
  packages/relay/src/synchornizer.ts
  packages/relay/src/types/SocketTypes.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/environment.ts
  packages/relay/test/synchornizer.test.ts
Labels: test, relay

#190 Refactor/modal dialog component
  packages/frontend/package.json
  packages/frontend/src/components/Dialog.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentDeleteDialog.tsx
  packages/frontend/src/components/comment/CommentPublishTransition.tsx
  packages/frontend/src/components/comment/CommentReportDialog.tsx
  packages/frontend/src/components/comment/DesktopCommentForm.tsx
  packages/frontend/src/components/comment/MobileCommentForm.tsx
  packages/frontend/src/components/common/Avatar.tsx
  packages/frontend/src/components/common/Backdrop.tsx
  packages/frontend/src/components/common/Dialog.tsx
  packages/frontend/src/components/common/RichTextEditor/index.tsx
  packages/frontend/src/components/common/RichTextEditor/nodes/EmojiNode.tsx
  packages/frontend/src/components/common/RichTextEditor/nodes/ImageComponent.tsx
  packages/frontend/src/components/common/RichTextEditor/nodes/ImageNode.css
  packages/frontend/src/components/common/RichTextEditor/nodes/ImageNode.tsx
  packages/frontend/src/components/common/RichTextEditor/nodes/ImageResizer.tsx
  packages/frontend/src/components/common/RichTextEditor/nodes/index.ts
  packages/frontend/src/components/common/RichTextEditor/plugins/ClearAllPlugin.tsx
  packages/frontend/src/components/common/RichTextEditor/plugins/EmojisPlugin.tsx
  packages/frontend/src/components/common/RichTextEditor/plugins/ToolbarPlugin.tsx
  packages/frontend/src/components/layout/ActionNotification.tsx
  packages/frontend/src/components/layout/ActionTable.tsx
  packages/frontend/src/components/layout/EpochInfo.tsx
  packages/frontend/src/components/layout/MobileBottomNav.tsx
  packages/frontend/src/components/layout/UserDropdown.tsx
  packages/frontend/src/components/login/AuthErrorDialog.tsx
  packages/frontend/src/components/login/AuthForm.tsx
  packages/frontend/src/components/login/AuthNoteDialog.tsx
  packages/frontend/src/components/login/DemoPost.tsx
  packages/frontend/src/components/login/DemoPostList.tsx
  packages/frontend/src/components/login/LoginButton.tsx
  packages/frontend/src/components/login/SignupPendingTransition.tsx
  packages/frontend/src/components/login/WelcomeBackgroundList.tsx
  packages/frontend/src/components/login/signupPendingTransition.css
  packages/frontend/src/components/modal/ui/comment/CommentReportModal.tsx
  packages/frontend/src/components/notification/ActionNotification.tsx
  packages/frontend/src/components/notification/ActionTable.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/components/post/PostForm.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/PostCreate.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/pages/Profile.tsx
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/mergeRefs.ts
  packages/frontend/tsconfig.json
  packages/frontend/webpack.config.js
  packages/relay/package.json
  packages/relay/src/index.ts
  yarn.lock
Labels: frontend, relay

#191 Feature/comment store
  packages/frontend/package.json
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/MobileCommentForm.tsx
  packages/frontend/src/components/layout/ActionNotification.tsx
  packages/frontend/src/components/layout/ActionTable.tsx
  packages/frontend/src/components/layout/EpochInfo.tsx
  packages/frontend/src/components/login/LoginButton.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/contexts/Actions.ts
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/useEpoch.ts
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/formatDate.ts
  packages/frontend/src/utils/randomNonce.ts
  packages/frontend/tailwind.config.js
  yarn.lock
Labels: frontend, relay
