Repository social-tw/social-tw-website, pull requests merged in 2023-12, with the labels that each got.

#196 [feature] [comment] [frontend] counter api integration
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/layout/EpochInfo.tsx
  packages/frontend/src/contexts/Actions.ts
  packages/frontend/src/hooks/useActionCount.ts
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useEpoch.ts
  packages/frontend/src/hooks/useFetchComment.ts
  packages/relay/src/index.ts
  packages/relay/src/routes/counter.ts
Labels: feature, frontend, relay

#197 [feature] [comment] [frontend] notify new comment
  packages/frontend/src/components/comment/CommentNotification.tsx
  packages/frontend/src/hooks/useCommentEvents.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/socket.ts
  packages/frontend/src/types/index.ts
  packages/relay/src/singletons/SocketManager.ts
  packages/relay/src/synchornizer.ts
  packages/relay/src/types/SocketTypes.ts
Labels: feature, contracts, frontend, relay

#176 [feature][relay] relay add stocketio for vote action
  packages/relay/package.json
  packages/relay/src/routes/vote.ts
  packages/relay/src/singletons/SocketManager.ts
  packages/relay/src/types/SocketTypes.ts
  packages/relay/test/environment.ts
  packages/relay/test/vote.test.ts
Labels: documentation, feature, test, frontend, relay

#184 [Frontend] lint set environment and fix
  packages/frontend/.eslintrc.js
  packages/frontend/.prettierrc.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/scripts/deploy-contracts.mjs
  packages/frontend/src/__tests__/contexts/LoadingContext.test.tsx
  packages/frontend/src/__tests__/contexts/User.test.tsx
  packages/frontend/src/__tests__/layouts/OnboardingLayout.test.tsx
  packages/frontend/src/__tests__/pages/Login.test.tsx
  packages/frontend/src/components/Dialog.tsx
  packages/frontend/src/components/RichTextEditor/index.tsx
  packages/frontend/src/components/RichTextEditor/nodes/EmojiNode.tsx
  packages/frontend/src/components/RichTextEditor/nodes/ImageComponent.tsx
  packages/frontend/src/components/RichTextEditor/nodes/ImageNode.tsx
  packages/frontend/src/components/RichTextEditor/nodes/ImageResizer.tsx
  packages/frontend/src/components/RichTextEditor/plugins/ToolbarPlugin.tsx
  packages/frontend/src/components/login/AuthForm.tsx
  packages/frontend/src/components/login/LoginButton.tsx
  packages/frontend/src/components/login/StepInfo.tsx
  packages/frontend/src/components/modal/Modal.tsx
  packages/frontend/src/components/modal/SignupLoadingModal.tsx
  packages/frontend/src/contexts/Prover.ts
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/useInitUser.ts
  packages/frontend/src/hooks/useLocalStorage.ts
  packages/frontend/src/hooks/useLoginWithServer.ts
  packages/frontend/src/hooks/useLoginWithWallet.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/hooks/useSignupWithWallet.ts
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/utils/makeCancellableTask.ts
  yarn.lock
Labels: test, frontend

#187 [Doc] [Frontend] add folder structure rules
  packages/frontend/README.md
Labels: documentation, frontend

#188 [refactor] refactor(frontend): Login Page
  packages/frontend/src/__tests__/pages/Welcome.test.tsx
  packages/frontend/src/components/Button/BackToWelcomeButton.tsx
  packages/frontend/src/components/Button/TwitterButton.tsx
  packages/frontend/src/components/Greeting/GreetingContent.tsx
  packages/frontend/src/components/Greeting/GreetingContentOnSmallDevice.tsx
  packages/frontend/src/components/Greeting/GreetingLogo.tsx
  packages/frontend/src/components/Greeting/GreetingTitle.tsx
  packages/frontend/src/components/Greeting/GreetingUnregisteredHint.tsx
  packages/frontend/src/components/login/AuthForm.tsx
  packages/frontend/src/components/login/DemoPost.tsx
  packages/frontend/src/components/login/DemoPostList.tsx
  packages/frontend/src/constants/mockPosts.ts
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/constants/signupMethods.ts
  packages/frontend/src/contexts/ProtectedRoute.tsx
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useInitUser.ts
  packages/frontend/src/hooks/useLoginWithServer.ts
  packages/frontend/src/hooks/useLoginWithWallet.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/hooks/useSignupWithWallet.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Login/InternalLogin.tsx
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/pages/Profile.tsx
  packages/frontend/src/pages/Signup/InternalSignup.tsx
  packages/frontend/src/pages/Signup/index.tsx
  packages/frontend/src/pages/Welcome/ExamplePostsList.tsx
  packages/frontend/src/pages/Welcome/index.tsx
  packages/frontend/src/setupTests.ts
  packages/frontend/src/types/global.d.ts
  packages/frontend/src/utils/LocalStorageHelper.ts
  packages/frontend/src/utils/api.ts
  packages/frontend/src/utils/motionVariants.ts
Labels: documentation, refactor, test, frontend

#205 [feature][reputation] Profile Reputation Page
  packages/frontend/src/components/buttons/CyanButton.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/Profile.tsx
  packages/frontend/src/pages/Profile/Avatar.tsx
  packages/frontend/src/pages/Profile/History/index.tsx
  packages/frontend/src/pages/Profile/Profile/HistoryButton.tsx
  packages/frontend/src/pages/Profile/Profile/LogoutButton.tsx
  packages/frontend/src/pages/Profile/Profile/ReputationButton.tsx
  packages/frontend/src/pages/Profile/Profile/index.tsx
  packages/frontend/src/pages/Profile/ProfileLayout.tsx
  packages/frontend/src/pages/Profile/Reputation/Hint.tsx
  packages/frontend/src/pages/Profile/Reputation/Score.tsx
  packages/frontend/src/pages/Profile/Reputation/index.tsx
Labels: feature, test, frontend

#201 [Backend][Post] add post sort logic on fetchPosts
  .github/workflows/build-and-test.yml
  .github/workflows/main-ci.yml
  packages/relay/src/config.ts
  packages/relay/src/index.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/singletons/schema.ts
  packages/relay/src/types/Comment.ts
  packages/relay/src/types/Post.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/environment.ts
  packages/relay/test/mocks/comment.ts
  packages/relay/test/mocks/posts.ts
  packages/relay/test/mocks/vote.ts
  packages/relay/test/post.test.ts
  packages/relay/test/utils/sqlHelper.ts
  packages/relay/test/vote.test.ts
Labels: automation, relay

#211 [Backend][myAccount] Implement backend APIs for my account page
  packages/relay/src/routes/myAccount.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/test/myAccount.test.ts
Labels: relay

#219 fix: update UNIREP_ADDRESS in config.ts
  packages/relay/src/config.ts
Labels: relay

#217 [Feature] ]Frontend] [Comment] Related tests
  packages/contracts/abi/UnirepApp.json
  packages/frontend/__mocks__/jestImageTransformer.js
  packages/frontend/__mocks__/matchMediaMock.js
  packages/frontend/__mocks__/setupTests.js
  packages/frontend/__mocks__/styleMock.js
  packages/frontend/__mocks__/svgrMock.js
  packages/frontend/config-overrides.js
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/__tests__/components/comment/Comment.test.tsx
  packages/frontend/src/__tests__/components/comment/CommentDeleteDialog.test.tsx
  packages/frontend/src/__tests__/components/comment/CommentPublishTransition.test.tsx
  packages/frontend/src/__tests__/components/comment/DesktopCommentForm.test.tsx
  packages/frontend/src/__tests__/components/comment/MobileCommentForm.test.tsx
  packages/frontend/src/__tests__/components/post/PostForm.test.tsx
  packages/frontend/src/__tests__/hooks/useCreateComment.test.tsx
  packages/frontend/src/__tests__/hooks/useDeleteComment.test.tsx
  packages/frontend/src/__tests__/hooks/useFetchComment.test.tsx
  packages/frontend/src/__tests__/layouts/BaseLayout.test.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentPublishTransition.tsx
  packages/frontend/src/components/comment/DesktopCommentForm.tsx
  packages/frontend/src/components/comment/MobileCommentForm.tsx
  packages/frontend/src/components/common/Dialog.tsx
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useDeleteComment.ts
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/utils/checkCommentIsMine.ts
  packages/frontend/tsconfig.json
  packages/frontend/webpack.config.js
  yarn.lock
Labels: test, contracts, frontend

#218 [CICD] separate build and deploy in cicd flow
  .dockerignore
  .github/workflows/Dockerfile
  .github/workflows/build-all.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-relay.yml
  .github/workflows/main-cd.yml
  Dockerfile
  README.md
  docs/manual_deploy.md
  packages/contracts/.env.example
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/scripts/deploy.ts
  packages/contracts/scripts/spawnDevNet.ts
  packages/frontend/.dockerignore
  packages/frontend/Dockerfile
  packages/frontend/package.json
  packages/frontend/src/config.ts
  packages/frontend/webpack.config.js
  packages/relay/.dockerignore
  packages/relay/.env.example
  packages/relay/Dockerfile
  packages/relay/src/config.ts
  packages/relay/src/index.ts
  packages/relay/src/routes/counter.ts
  packages/relay/src/routes/request.ts
  packages/relay/src/routes/signup.ts
  packages/relay/src/routes/transition.ts
  packages/relay/src/routes/user.ts
  packages/relay/src/synchornizer.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/login.test.ts
  packages/relay/test/myAccount.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/synchornizer.test.ts
  packages/relay/test/vote.test.ts
  yarn.lock
Labels: documentation, test, automation, contracts, frontend, relay

#222 [documentation] fix: fix readme instruction
  README.md
Labels: documentation, feature, test

#223 [Backend][myAccount] Join post when fetching my account page votes
  packages/relay/src/services/VoteService.ts
  packages/relay/src/singletons/schema.ts
  packages/relay/test/myAccount.test.ts
Labels: relay

#224 [Enhancement][Frontend] add userstate db & update unirep to 2.0.0
  packages/circuits/package.json
  packages/circuits/provers/defaultProver.ts
  packages/circuits/src/DataProof.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/frontend/package.json
  packages/frontend/src/contexts/Prover.ts
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/contexts/Userstate.ts
  packages/frontend/src/contexts/schema.ts
  packages/frontend/src/pages/Login/index.tsx
  packages/relay/package.json
  packages/relay/src/config.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/EpochKeyService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/UserService.ts
  packages/relay/src/singletons/prover.ts
  yarn.lock
Labels: documentation, test, contracts, frontend, relay

#212 [feature] [profile] [frontend] Profile History Page
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/components/modal/LogoutModal.tsx
  packages/frontend/src/pages/Profile/History/DTO/Comment.ts
  packages/frontend/src/pages/Profile/History/DTO/Post.ts
  packages/frontend/src/pages/Profile/History/DTO/Vote.ts
  packages/frontend/src/pages/Profile/History/TabContent/TabContentBody.tsx
  packages/frontend/src/pages/Profile/History/TabContent/TabContentHeader.tsx
  packages/frontend/src/pages/Profile/History/TabContent/index.tsx
  packages/frontend/src/pages/Profile/History/TabFilter.tsx
  packages/frontend/src/pages/Profile/History/TabHeader.tsx
  packages/frontend/src/pages/Profile/History/index.tsx
  packages/frontend/src/pages/Profile/History/services/CommentService.ts
  packages/frontend/src/pages/Profile/History/services/PostService.ts
  packages/frontend/src/pages/Profile/History/services/VoteService.ts
  packages/frontend/src/pages/Profile/History/store/createCommentSlice.ts
  packages/frontend/src/pages/Profile/History/store/createPostSlice.ts
  packages/frontend/src/pages/Profile/History/store/createTabSlice.ts
  packages/frontend/src/pages/Profile/History/store/createVoteSlice.ts
  packages/frontend/src/pages/Profile/History/store/useProfileHistoryStore.ts
  packages/frontend/src/pages/Profile/History/types.ts
  packages/frontend/src/pages/Profile/History/utils.ts
  packages/frontend/src/pages/Profile/Profile/LogoutButton.tsx
  packages/frontend/src/pages/Profile/Profile/index.tsx
  packages/frontend/src/pages/Profile/ProfileLayout.tsx
  packages/frontend/src/types/api.ts
  packages/frontend/src/utils/api.ts
  yarn.lock
Labels: feature, test, frontend

#228 [Feature] Frontend] [Post] fetch posts with page query
  packages/frontend/package.json
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/PostList.tsx
  yarn.lock
Labels: contracts, frontend, relay
