Repository social-tw/social-tw-website, pull requests merged in 2024-12, with the labels that each got.

#566 [UST-234] [Frontend] Enhance "Transaction" Concept Explanation for Web2 Users
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/stores/actions.ts
Labels: frontend

#568 [Frontend] [Feat]: Display reported or blocked content for owner
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/Post/index.ts
  packages/frontend/src/utils/helpers/postMaskHelper.ts
Labels: frontend

#569 [Frontend] Improve the commenting process to make it more convenient and concise
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/routes/app/posts/[id]/page.tsx
Labels: frontend

#570 [Frontend] Display progress bar under Epoch timer when user votes a post
  .vscode/settings.json
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/hooks/useRequestData/useRequestData.ts
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/Vote/index.ts
Labels: frontend

#573 [Frontend] The loading state only last for 5 seconds when reporting
  packages/frontend/src/features/post/components/Comment/CommentReportDialog.tsx
  packages/frontend/src/features/post/components/CreatePost/CreatePost.tsx
  packages/frontend/src/features/post/components/Post/PostReportDialog.tsx
  packages/frontend/src/features/post/components/Post/tests/PostReportDialog.test.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitting.tsx
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/shared/components/Backdrop/Backdrop.tsx
  packages/frontend/src/features/shared/hooks/useDialog.ts
Labels: frontend

#581 [Frontend] Enhance Documentation on X Integration and Data Usage
  packages/frontend/src/features/auth/components/LoginButton/LoginButton.tsx
  packages/frontend/src/features/auth/components/TwitterButton/TwitterButton.tsx
  packages/frontend/src/routes/onboarding/signup/internal/page.tsx
  packages/frontend/src/routes/onboarding/signup/page.tsx
  packages/frontend/src/routes/welcome/page.tsx
  packages/frontend/tailwind.config.js
Labels: frontend

#582 [Frontend] Enhance Explanation of Direct vs. Wallet Registration Options
  packages/frontend/src/features/auth/components/AuthNoteDialog/AuthNoteDialog.tsx
  packages/frontend/src/features/auth/components/Greeting/Greeting.tsx
  packages/frontend/src/routes/onboarding/login/internal/page.tsx
  packages/frontend/src/routes/onboarding/signup/internal/page.tsx
Labels: frontend

#583 [Frontend] Enhance Visualization of Pending Transactions for Better User Understanding
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.test.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
Labels: frontend

#564 feat: add close button to adjudicate notification
  packages/frontend/src/assets/svg/close-button.svg
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateButton.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/ConfirmationDialog.tsx
Labels: contracts, frontend

#563 [UST-232][Feature][Frontend] Extend Post-Publish Animation Duration and Add User Controls
  packages/frontend/src/features/post/components/CreatePost/CreatePost.tsx
  packages/frontend/src/features/post/components/PostPublishTransition/PostPublishTransition.tsx
  packages/frontend/src/routes/full-screen/write-post/page.tsx
Labels: frontend

#572 [Frontend] Display onboarding cards for users at the first visit
  .vscode/settings.json
  packages/frontend/src/assets/img/arrow-left.png
  packages/frontend/src/assets/img/arrow-right.png
  packages/frontend/src/assets/img/featureIntroduction/final-step.png
  packages/frontend/src/assets/img/featureIntroduction/first-step.png
  packages/frontend/src/assets/img/featureIntroduction/second-step.png
  packages/frontend/src/assets/img/featureIntroduction/third-step.png
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/features/auth/components/CyanButton/CyanButton.tsx
  packages/frontend/src/features/auth/components/ProtectedRoute/ProtectedRoute.tsx
  packages/frontend/src/routes/app/profile/page.tsx
  packages/frontend/src/routes/router.tsx
  packages/frontend/src/routes/start/features/page.tsx
  packages/frontend/src/routes/start/launch/page.tsx
  packages/frontend/src/routes/start/layout.tsx
  packages/frontend/src/routes/start/welcome/page.test.tsx
  packages/frontend/src/routes/start/welcome/page.tsx
  packages/frontend/tailwind.config.js
Labels: feature, design, frontend

#571 [Feature] [Frontend] Add about page & refactor AppLayout
  packages/frontend/package.json
  packages/frontend/src/assets/svg/bell-active.svg
  packages/frontend/src/assets/svg/bell.svg
  packages/frontend/src/assets/svg/book-search-active.svg
  packages/frontend/src/assets/svg/book-search.svg
  packages/frontend/src/assets/svg/book-user-active.svg
  packages/frontend/src/assets/svg/book-user.svg
  packages/frontend/src/assets/svg/chat-hexagon.svg
  packages/frontend/src/assets/svg/chat-info.svg
  packages/frontend/src/assets/svg/chat-question.svg
  packages/frontend/src/assets/svg/chat-star.svg
  packages/frontend/src/assets/svg/discord.svg
  packages/frontend/src/assets/svg/github.svg
  packages/frontend/src/assets/svg/home-paragraph-active.svg
  packages/frontend/src/assets/svg/home-paragraph.svg
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/features/auth/components/ProtectedRoute/ProtectedRoute.tsx
  packages/frontend/src/features/shared/components/MainBottomNav/MainBottomNav.tsx
  packages/frontend/src/features/shared/components/MainSideNav/MainSideNav.tsx
  packages/frontend/src/features/shared/components/NotificationContainer/NotificationContainer.tsx
  packages/frontend/src/features/shared/index.ts
  packages/frontend/src/routes/app/about/page.tsx
  packages/frontend/src/routes/app/layout.desktop.tsx
  packages/frontend/src/routes/app/layout.mobile.tsx
  packages/frontend/src/routes/app/layout.tsx
  packages/frontend/src/routes/router.tsx
  packages/frontend/tailwind.config.js
  yarn.lock
Labels: feature, refactor, test, frontend

#587 [Frontend] Simplify Profile Page by Removing Avatar and Reorganizing Information
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/auth/components/CyanButton/CyanButton.tsx
  packages/frontend/src/features/core/components/EpochInfo/EpochInfo.tsx
  packages/frontend/src/features/core/hooks/useUserInfo/useUserInfo.ts
  packages/frontend/src/features/core/index.ts
  packages/frontend/src/features/profile/components/AccoutHistory/CommentTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/PostTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/VoteTable.tsx
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
  packages/frontend/src/features/shared/components/Table/TableBody.tsx
  packages/frontend/src/features/shared/components/Table/TableHeader.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/routes/app/about/page.tsx
  packages/frontend/src/routes/app/layout.desktop.tsx
  packages/frontend/src/routes/app/profile/history/page.tsx
  packages/frontend/src/routes/app/profile/layout.tsx
  packages/frontend/src/routes/app/profile/page.tsx
  packages/frontend/src/routes/app/profile/reputation/page.tsx
  packages/frontend/src/routes/router.tsx
Labels: frontend

#562 [UST-242] [Frontend] [Feat]: Share Post with Link
  .vscode/settings.json
  packages/frontend/src/assets/img/share.png
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostFooter.tsx
  packages/frontend/src/features/post/components/ShareLinkTransition/ShareLinkTransition.tsx
  packages/frontend/src/features/shared/hooks/useCopy.ts
Labels: frontend

#575 [Frontend] Display the post content when reporting
  packages/frontend/src/features/post/components/CommentDeleteDialog/CommentDeleteDialog.tsx
  packages/frontend/src/features/post/components/Post/PostReportDialog.tsx
  packages/frontend/src/features/post/components/Post/tests/PostReportDialog.test.tsx
  packages/frontend/src/features/post/components/ReportForm/InfoDialog.tsx
  packages/frontend/src/features/post/components/ReportForm/index.tsx
  packages/frontend/src/features/post/hooks/usePostById/usePostById.ts
  packages/frontend/src/features/post/index.ts
  packages/frontend/src/features/reporting/components/Adjudicate/ReportContent.tsx
Labels: frontend

#576 [Frontend] Enter the homepage immediately after signing up
  packages/frontend/src/constants/errorMessage.ts
  packages/frontend/src/features/auth/components/AuthErrorDialog/AuthErrorDialog.tsx
  packages/frontend/src/features/auth/components/ErrorDialog/ErrorDialog.tsx
  packages/frontend/src/features/auth/components/ProtectedRoute/ProtectedRoute.tsx
  packages/frontend/src/features/auth/hooks/useAuthCheck/useAuthCheck.ts
  packages/frontend/src/features/auth/hooks/useAuthStatus/useAuthStatus.ts
  packages/frontend/src/features/auth/provider/AuthProvider.tsx
  packages/frontend/src/features/auth/stores/authStore.ts
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuContainer.tsx
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentActionMenu.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostActionMenu.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/routes/app/profile/page.tsx
  packages/frontend/src/routes/full-screen/write-post/page.tsx
  packages/frontend/src/routes/onboarding/login/internal/page.tsx
  packages/frontend/src/routes/onboarding/signup/internal/page.tsx
  packages/frontend/src/routes/router.tsx
Labels: frontend

#578 feat: notification center
  packages/frontend/src/assets/svg/bell-active.svg
  packages/frontend/src/assets/svg/bell-with-dot.svg
  packages/frontend/src/assets/svg/bell.svg
  packages/frontend/src/assets/svg/notification/adjuducate-failed.svg
  packages/frontend/src/assets/svg/notification/adjuducate-result-not-pass.svg
  packages/frontend/src/assets/svg/notification/adjuducate-result-pass.svg
  packages/frontend/src/assets/svg/notification/adjuducate-success.svg
  packages/frontend/src/assets/svg/notification/comment-failed.svg
  packages/frontend/src/assets/svg/notification/comment-success.svg
  packages/frontend/src/assets/svg/notification/downvote-failed.svg
  packages/frontend/src/assets/svg/notification/downvote-success.svg
  packages/frontend/src/assets/svg/notification/new-adjuducation.svg
  packages/frontend/src/assets/svg/notification/post-failed.svg
  packages/frontend/src/assets/svg/notification/post-success.svg
  packages/frontend/src/assets/svg/notification/report-failed.svg
  packages/frontend/src/assets/svg/notification/report-pass.svg
  packages/frontend/src/assets/svg/notification/report-rejected.svg
  packages/frontend/src/assets/svg/notification/report-success.svg
  packages/frontend/src/assets/svg/notification/reported.svg
  packages/frontend/src/assets/svg/notification/reputation-too-low.svg
  packages/frontend/src/assets/svg/notification/signup-success.svg
  packages/frontend/src/assets/svg/notification/upvote-failed.svg
  packages/frontend/src/assets/svg/notification/upvote-success.svg
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/auth/hooks/useLogout/useLogout.ts
  packages/frontend/src/features/auth/hooks/useSignup/useSignup.ts
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/notification/components/NotificationItem/NotificationItem.tsx
  packages/frontend/src/features/notification/config/NotificationConfig.tsx
  packages/frontend/src/features/notification/stores/useNotificationStore.tsx
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/components/CheckInNotification/CheckInNotification.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicateStore.ts
  packages/frontend/src/features/reporting/hooks/useCheckIn/useCheckInStore.ts
  packages/frontend/src/features/reporting/hooks/useNotifyCheckIn/useNotifyCheckIn.ts
  packages/frontend/src/features/reporting/hooks/useReportEpochKeyReputation/useReportEpochKeyReputation.ts
  packages/frontend/src/features/shared/components/MainBottomNav/MainBottomNav.tsx
  packages/frontend/src/features/shared/components/MainSideNav/MainSideNav.tsx
  packages/frontend/src/features/shared/hooks/useDialog.ts
  packages/frontend/src/routes/app/notification/page.tsx
  packages/frontend/src/routes/router.tsx
  packages/frontend/src/types/Notifications/index.ts
  packages/relay/src/routes/reportsRoute.ts
Labels: frontend, relay

#574 [Frontend] Display the reason for reporting on the blocked post mask
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostReportedMask.tsx
  packages/frontend/src/features/post/components/ReportedMask/ActionLinks.tsx
  packages/frontend/src/features/post/components/ReportedMask/ConfirmDialog.tsx
  packages/frontend/src/features/post/components/ReportedMask/ReportReason.tsx
  packages/frontend/src/features/post/hooks/useBlockMask/useBlockMask.ts
  packages/frontend/src/features/post/hooks/usePostReportReason/usePostReportReason.ts
  packages/frontend/src/features/post/hooks/useReportMask/useReportMask.ts
  packages/frontend/src/features/post/index.ts
  packages/frontend/src/utils/helpers/postMaskHelper.ts
Labels: frontend

#577 [USD-231][UST-229][UST-256] Remove the cache and post filter content and keyword selection
  packages/relay/src/index.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/test/post.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/vote.test.ts
Labels: test, relay

#567 [Frontend] [Feat]: Display post list with result from searching keyword
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/shared/components/Inputs/SearchInput.tsx
  packages/frontend/src/routes/app/layout.desktop.tsx
Labels: frontend

#594 [Frontend] Add button to about page
  packages/frontend/src/features/auth/components/ProtectedRoute/ProtectedRoute.tsx
  packages/frontend/src/routes/router.tsx
  packages/frontend/src/routes/start/launch/page.tsx
  packages/frontend/src/utils/helpers/epochKey.ts
Labels: frontend

#593 UST-177 optimise Adjudicate ui
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateButton.tsx
  packages/frontend/src/routes/app/layout.desktop.tsx
  packages/frontend/src/routes/app/layout.mobile.tsx
  packages/frontend/src/routes/app/reports/[id]/page.tsx
  packages/frontend/src/routes/router.tsx
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/ReportService.ts
  yarn.lock
Labels: feature, test, frontend

#596 [Frontend] Fix Search Posts bugs
  packages/frontend/src/features/shared/components/Inputs/SearchInput.tsx
  packages/frontend/src/features/shared/components/RichTextEditor/plugins/ClearAllPlugin.tsx
Labels: bug, frontend

#597 [Frontend] Fix Search Posts and Create Post Auto Focus Problem
  packages/frontend/src/features/shared/components/Inputs/SearchInput.tsx
  packages/frontend/src/features/shared/components/RichTextEditor/index.tsx
Labels: frontend

#598 [Frontend][UST-294] update discord link
  packages/frontend/src/routes/app/about/page.tsx
Labels: frontend

#604 [Frontend] Adjust desktop layout styles
  packages/frontend/src/routes/app/layout.desktop.tsx
Labels: frontend

#606 [Frontend] Display line break charactor in the comment block
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/CommentFormDesktop/CommentFormDesktop.tsx
  packages/frontend/src/features/shared/components/RichTextEditor/index.tsx
Labels: frontend

#608 [Frontend] Fix the post link when clicking the comment icon in the post
  packages/frontend/src/features/post/components/PostList/PostList.tsx
Labels: frontend

#610 [Frontend] Expand the community governance section in the about page
  packages/frontend/src/features/post/components/ReportedMask/ActionLinks.tsx
Labels: frontend

#612 [Frontend] Fix PostMask Showing Bug
  packages/frontend/src/routes/app/posts/[id]/page.tsx
Labels: frontend

#600 [Frontend][UST-283] update wording
  packages/frontend/src/features/post/components/VoteFailureDialog/VoteFailureDialog.tsx
  packages/frontend/src/routes/app/layout.mobile.tsx
  packages/frontend/src/routes/app/profile/page.tsx
Labels: frontend

#611 [UST-273][Backend] fix: filter reported content search
  packages/relay/src/services/PostService.ts
  packages/relay/test/report.test.ts
Labels: feature, test, relay
