Repository social-tw/social-tw-website, pull requests merged in 2024-06, with the labels that each got.

#372 [HotFix] Deploy frontend on the server root
  packages/frontend/package.json
Labels: frontend

#369 [Contract][Relay] fix: Update IPFS content handling (from content to cid)
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/synchronizer.test.ts
Labels: documentation, test, relay

#373 fix: change to upsert instead of update in relay signup synchronizer
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
Labels: relay

#376 fix: fix vote bug
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/utils/api.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/vote.test.ts
Labels: bug, feature, frontend, relay

#391 refactor(fe): ui post footer
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostFooter.tsx
Labels: refactor, frontend

#404 [Frontend][Relayer] Modify getAndVerifyEpochKeyLiteProof don't check epoch consistency
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/utils/api.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/test/vote.test.ts
Labels: frontend, relay

#395 [Frontend][Report] feature UI action btn
  .vscode/settings.json
  packages/frontend/src/assets/svg/ban.svg
  packages/frontend/src/assets/svg/close-w.svg
  packages/frontend/src/assets/svg/ellipsis.svg
  packages/frontend/src/features/core/components/QueryProvider/QueryProvider.tsx
  packages/frontend/src/features/post/components/ActionBtn/index.tsx
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
Labels: feature, frontend

#396 [Circuit][Report] Feat/report positive circuit
  packages/circuits/.gitignore
  packages/circuits/circuits/reportNullifierProof.circom
  packages/circuits/package.json
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportNullifier.test.ts
  packages/circuits/test/types.ts
  packages/circuits/zksnarkBuild/reportNullifierProof.vkey.json
  packages/circuits/zksnarkBuild/reportNullifierProof.wasm
  packages/circuits/zksnarkBuild/reportNullifierProof.zkey
  packages/circuits/zksnarkBuild/reportNullifierProof_main.circom
  yarn.lock
Labels: documentation, invalid, test, circuit

#401 [Circuit][Report] Feat/report negative circuit
  packages/circuits/.gitignore
  packages/circuits/circuits/reportNegRepProof.circom
  packages/circuits/scripts/buildSnarks.ts
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportNegRep.test.ts
  packages/circuits/zksnarkBuild/reportNegRepProof.vkey.json
  packages/circuits/zksnarkBuild/reportNegRepProof.wasm
  packages/circuits/zksnarkBuild/reportNegRepProof.zkey
  packages/circuits/zksnarkBuild/reportNegRepProof_main.circom
Labels: invalid, test

#413 [Bug][Relay]set up max fee per gas
  packages/relay/src/config.ts
  packages/relay/src/services/utils/TransactionManager.ts
Labels: bug, design, test, relay

#399 [Frontend] update counter message
  packages/frontend/src/features/core/components/EpochInfo/EpochInfo.tsx
  packages/frontend/src/routes/app/layout.tsx
  packages/frontend/src/routes/app/posts/page.tsx
Labels: frontend

#407 [Relay] fetch voting & waiting for tx reports
  packages/relay/src/routes/commentRoute.ts
  packages/relay/src/routes/counterRoute.ts
  packages/relay/src/routes/myAccountRoute.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/routes/transitionRoute.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/services/UserService.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/services/utils/ErrorHandler.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/src/services/utils/TransactionManager.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/Report.ts
  packages/relay/src/types/index.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/vote.test.ts
Labels: documentation, test, relayer, relay

#408 [Relay] Create vote on report api
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/Report.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/login.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/vote.test.ts
Labels: invalid, feature, test, relay

#400 [Frontend] [Reporting] show adjudication notification
  packages/frontend/src/assets/svg/arrow-right.svg
  packages/frontend/src/assets/svg/gavel.svg
  packages/frontend/src/features/reporting/components/AdjudicationNotification/AdjudicationNotification.test.tsx
  packages/frontend/src/features/reporting/components/AdjudicationNotification/AdjudicationNotification.tsx
  packages/frontend/src/features/reporting/hooks/useFetchReports/useFetchReports.test.ts
  packages/frontend/src/features/reporting/hooks/useFetchReports/useFetchReports.ts
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/features/reporting/utils/apis.ts
  packages/frontend/src/routes/app/layout.tsx
Labels: feature, test, frontend

#421 [UST-192][Relay] add report category api
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/types/Report.ts
  packages/relay/test/report.test.ts
Labels: test, relay
