Repository social-tw/social-tw-website, pull requests merged in 2024-01, with the labels that each got.

#152 [WIP] Feature/issue 148 implement vote feature
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/components/ui/animations/LikeAnimation.tsx
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/hooks/useVotes.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/socket.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/checkVoteIsMine.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/types/Post.ts
  packages/relay/test/comment.test.ts
  tsconfig.json
Labels: documentation, feature, design, test, frontend

#241 Fix/contract comment test/type error
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/Comment.test.ts
  packages/contracts/test/SignupAndPost.test.ts
Labels: documentation, test, contracts

#230 [Issue] Recreate Userstate Error and Login minor fix
  packages/frontend/src/components/buttons/BackToWelcomeButton.tsx
  packages/frontend/src/components/buttons/TwitterButton.tsx
  packages/frontend/src/components/greeting/GreetingContent.tsx
  packages/frontend/src/components/greeting/GreetingContentOnSmallDevice.tsx
  packages/frontend/src/components/greeting/GreetingLogo.tsx
  packages/frontend/src/components/greeting/GreetingTitle.tsx
  packages/frontend/src/components/greeting/GreetingUnregisteredHint.tsx
  packages/frontend/src/components/login/WelcomeBackgroundList.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/contexts/ProtectedRoute.tsx
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/hooks/useInitUser.ts
  packages/frontend/src/pages/Login/InternalLogin.tsx
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Signup/InternalSignup.tsx
  packages/frontend/src/pages/Signup/index.tsx
  packages/frontend/src/pages/Welcome/ExamplePostsList.tsx
  packages/frontend/src/pages/Welcome/index.tsx
  packages/relay/src/services/PostService.ts
Labels: test, frontend

#251 [Fix] postId field in PostService query
  packages/relay/src/services/PostService.ts
Labels: relay

#247 [Fix] [Contract] convert post id in global
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/SignupAndPost.test.ts
Labels: documentation, test, contracts

#249 [Fix]: Issue234 relay get post
  packages/relay/src/db/schema.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/routes/signup.ts
  packages/relay/src/routes/vote.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/UserService.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/services/singletons/TransactionManager.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/src/types/Post.ts
  packages/relay/src/types/Transaction.ts
  packages/relay/src/types/index.ts
  packages/relay/test/myAccount.test.ts
  packages/relay/test/vote.test.ts
Labels: test, relay

#240 [Issue] Fix date display in profile page is wrong
  packages/frontend/src/pages/Profile/History/services/CommentService.ts
  packages/frontend/src/pages/Profile/History/services/PostService.ts
  packages/frontend/src/pages/Profile/History/services/VoteService.ts
  packages/frontend/src/types/api.ts
Labels: documentation, test, frontend

#266 [Fix] [Contracts] delete state tree root check
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/Comment.test.ts
  packages/contracts/test/SignupAndPost.test.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/post.test.ts
Labels: documentation, test, contracts, relay

#265 [Fix] Relay typo
  packages/relay/src/services/VoteService.ts
Labels: relay

#273 [Relay][Comment] add a new case for comment deletion with wrong epoch key
  packages/relay/src/routes/comment.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/test/comment.test.ts
Labels: documentation, test, relay

#268 [Fix] feat: add console log when create post catch err can console log err
  packages/frontend/src/pages/PostCreate.tsx
  packages/frontend/src/pages/PostList.tsx
Labels: bug, documentation, feature, test, frontend

#267 [Fix]: fix throw error just return status change to return json object
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/hooks/useVotes.ts
Labels: bug, feature, test, frontend

#277 [Fix] key of the vote api request is wrong
  packages/frontend/src/hooks/useVotes.ts
Labels: test, frontend

#244 [Feature] [Post] [Frontend] Add transition animation after user publishes a post
  packages/contracts/abi/UnirepApp.json
  packages/frontend/package.json
  packages/frontend/src/__tests__/components/comment/DesktopCommentForm.test.tsx
  packages/frontend/src/__tests__/components/layout/ActionNotification.test.tsx
  packages/frontend/src/__tests__/components/layout/ActionTable.test.tsx
  packages/frontend/src/__tests__/contexts/Action.test.ts
  packages/frontend/src/__tests__/hooks/useCreateComment.test.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/layout/ActionTable.tsx
  packages/frontend/src/components/layout/MobileBottomNav.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/components/post/PostFailureDialog.tsx
  packages/frontend/src/components/post/PostForm.tsx
  packages/frontend/src/components/post/PostPublishTransition.tsx
  packages/frontend/src/contexts/Actions.ts
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/useErrorMessage.ts
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/hooks/useInitUser.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/AppLayout.tsx
  packages/frontend/src/pages/CreatePost/index.tsx
  packages/frontend/src/pages/Home/HomePostForm.tsx
  packages/frontend/src/pages/Home/HomePostList.tsx
  packages/frontend/src/pages/Home/index.tsx
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Post/index.tsx
  packages/frontend/src/pages/PostCreate.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostList.tsx
  packages/frontend/src/pages/Profile/History/services/PostService.ts
  packages/frontend/src/types/api.ts
  packages/frontend/src/types/index.ts
  packages/relay/src/routes/user.ts
  packages/relay/test/login.test.ts
  yarn.lock
Labels: contracts, frontend, relay

#252 [Fix] fix the contract test isolation
  packages/contracts/test/Comment.test.ts
  packages/contracts/test/SignupAndPost.test.ts
Labels: test, contracts

#278 fix: replace hardcode url
  packages/frontend/src/hooks/useFetchComment.ts
Labels: frontend

#272 [Issue] Login and Signup Error Handling
  packages/frontend/src/components/login/AuthErrorDialog.tsx
  packages/frontend/src/hooks/useErrorMessage.ts
  packages/frontend/src/hooks/useLoginWithServer.ts
  packages/frontend/src/hooks/useLoginWithWallet.ts
  packages/frontend/src/hooks/useSignupWithServer.ts
  packages/frontend/src/hooks/useSignupWithWallet.ts
Labels: documentation, test, contracts, frontend

#280 [Issue] [Forntend] Comment small bugs
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/utils/formatDate.ts
Labels: bug, frontend
