Repository social-tw/social-tw-website, pull requests merged in 2024-09, with the labels that each got.

#490 chore: update unirep version
  packages/circuits/package.json
  packages/contracts/package.json
  packages/contracts/test/utils.ts
  packages/frontend/package.json
  packages/frontend/src/utils/schema.ts
  packages/relay/package.json
  packages/relay/test/checkReputation.test.ts
  packages/relay/test/checkin.test.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/login.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/synchronizer.test.ts
  packages/relay/test/utils/signup.ts
  packages/relay/test/utils/userHelper.ts
  packages/relay/test/vote.test.ts
  yarn.lock
Labels: documentation, test, contracts, frontend, relay

#492 Feature/add reputation hooks tests
  packages/frontend/src/features/reporting/hooks/useBackgroundReputationClaim/useBackgroundReputationClaim.ts
  packages/frontend/src/features/reporting/hooks/useGetWaitForTransactReport/useWaitForTransactionReport.test.ts
  packages/frontend/src/features/reporting/hooks/useReportAdjudicatorReputation/useReportAdjudicatorReputation.test.ts
  packages/frontend/src/features/reporting/hooks/useReportAdjudicatorReputation/useReportAdjudicatorReputation.ts
  packages/frontend/src/features/reporting/hooks/useReportEpochKeyReputation/useReportEpochKeyReputation.test.ts
  packages/frontend/src/features/reporting/hooks/useReportEpochKeyReputation/useReportEpochKeyReputation.ts
  packages/frontend/src/features/reporting/hooks/useReputationScore/useReputationScore.test.ts
  packages/frontend/src/features/reporting/hooks/useReputationScore/useReputationScore.ts
  packages/frontend/src/features/reporting/index.ts
Labels: test, frontend

#493 chore: update unirep package to 2.1.4
  packages/circuits/package.json
  packages/contracts/package.json
  packages/frontend/package.json
  packages/relay/package.json
  yarn.lock
Labels: feature, test, contracts, frontend, relay

#497 [Relay] ISSUE-496 vote claim reputation failed
  packages/relay/src/types/Reputation.ts
Labels: relay

#501 fix: refetch epoch remaining time in every visits
  packages/frontend/src/features/core/components/EpochInfo/EpochInfo.tsx
  packages/frontend/src/features/core/hooks/useEpoch/useEpoch.ts
Labels: frontend

#504 Fix/format date in history table
  packages/frontend/src/features/profile/components/AccoutHistory/CommentTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/PostTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/VoteTable.tsx
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
  packages/frontend/src/features/shared/components/DatePicker/DatePicker.tsx
  packages/relay/src/services/ReputationService.ts
Labels: frontend, relay

#505 [Frontend] fix to submit report category
  packages/frontend/src/features/post/components/Comment/CommentReportDialog.tsx
  packages/frontend/src/features/post/components/Post/PostReportDialog.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/Adjudicate.test.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/ReportReason.tsx
Labels: frontend

#506 [Frontend] match the adjudicate flow with the design
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/reporting/components/Adjudicate/Adjudicate.test.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/Adjudicate.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicatePending.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateSuccess.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.test.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
Labels: design, frontend

#507 [Frontend] [Relay] make the RepUserType in frontend the same as in relay
  packages/frontend/src/features/reporting/hooks/useBackgroundReputationClaim/useBackgroundReputationClaim.ts
  packages/frontend/src/features/reporting/hooks/useReportAdjudicatorReputation/useReportAdjudicatorReputation.ts
  packages/frontend/src/features/reporting/hooks/useReportEpochKeyReputation/useReportEpochKeyReputation.test.ts
  packages/frontend/src/types/Report/index.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/types/Reputation.ts
  packages/relay/test/reputation_claim.test.ts
Labels: relayer, frontend, relay

#510 refactor: fetch epoch length
  packages/frontend/src/features/core/hooks/useEpoch/useEpoch.test.ts
  packages/frontend/src/features/core/hooks/useEpoch/useEpoch.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/shared/hooks/useDatePicker.ts
  packages/frontend/src/features/shared/services/EpochDateService.test.ts
  packages/frontend/src/features/shared/services/EpochDateService.ts
  packages/frontend/src/types/api.ts
  packages/frontend/src/utils/test-helpers/buildMockAPIs.ts
  packages/relay/src/routes/appConfigRoute.ts
  packages/relay/test/config.test.ts
Labels: feature, refactor, test, frontend, relay

#511 [Fix] [Frontend] Generate a negative reputation proof when checking in
  packages/frontend/src/features/core/services/RelayApiService/RelayApiService.ts
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.test.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.test.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.test.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.test.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.test.ts
  packages/frontend/src/features/reporting/hooks/useGetWaitForTransactReport/useWaitForTransactionReport.test.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.test.ts
Labels: frontend

#518 fix: downgrade unirep version
  packages/circuits/package.json
  packages/contracts/package.json
  packages/contracts/test/utils.ts
  packages/frontend/package.json
  packages/frontend/src/utils/schema.ts
  packages/relay/package.json
  yarn.lock
Labels: contracts, frontend, relay

#517 [Fix] [Frontend] [Relay] Improve check in flow
  packages/frontend/src/constants/config.ts
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
  packages/frontend/src/features/reporting/components/CheckInNotification/CheckInNotification.tsx
  packages/frontend/src/features/reporting/components/DiscardCheckIn/DiscardCheckIn.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
  packages/frontend/src/features/reporting/hooks/useCheckIn/useCheckIn.ts
  packages/frontend/src/features/reporting/hooks/useNotifyCheckIn/useNotifyCheckIn.ts
  packages/frontend/src/routes/app/layout.tsx
  packages/relay/src/db/schema.ts
  packages/relay/src/routes/checkinRoute.ts
  packages/relay/src/services/ReputationService.ts
  packages/relay/src/types/Reputation.ts
Labels: frontend, relay

#519 fix: fix unirep version (2.1.5-alpha-1)
  packages/circuits/package.json
  packages/contracts/package.json
  packages/contracts/test/utils.ts
  packages/frontend/package.json
  packages/frontend/src/utils/schema.ts
  packages/relay/package.json
  yarn.lock
Labels: contracts, frontend, relay
