Repository social-tw/social-tw-website, pull requests merged in 2024-05, with the labels that each got.

#343 chore: remove unused param in post
  packages/relay/src/routes/post.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/post.test.ts
Labels: relay

#270 [Frontend] Fix: modify randomNonce role
  packages/frontend/src/__tests__/utils/getEpochKeyNonce.test.ts
  packages/frontend/src/config.ts
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/useVotes.ts
  packages/frontend/src/utils/getEpochKeyNonce.ts
  packages/frontend/src/utils/randomNonce.ts
Labels: documentation, test, frontend

#290 [Frontend] [Relay] Fix: Improve comment process
  packages/frontend/__mocks__/setupTests.js
  packages/frontend/src/__tests__/components/comment/Comment.test.tsx
  packages/frontend/src/__tests__/components/comment/CommentDeleteDialog.test.tsx
  packages/frontend/src/__tests__/components/comment/DesktopCommentForm.test.tsx
  packages/frontend/src/__tests__/components/comment/MobileCommentForm.test.tsx
  packages/frontend/src/__tests__/hooks/useCreateComment.test.tsx
  packages/frontend/src/__tests__/hooks/useFetchComment.test.tsx
  packages/frontend/src/__tests__/hooks/useRemoveComment.test.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentDeleteDialog.tsx
  packages/frontend/src/components/layout/ActionNotification.tsx
  packages/frontend/src/components/layout/ActionTable.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/contexts/Actions.ts
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useCreatePost.ts
  packages/frontend/src/hooks/useFetchComment.ts
  packages/frontend/src/hooks/useRemoveComment.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Home/HomePostList.tsx
  packages/frontend/src/pages/Home/index.tsx
  packages/frontend/src/pages/Post/index.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostDetails/CommentForm.tsx
  packages/frontend/src/pages/PostDetails/CommentList.tsx
  packages/frontend/src/pages/PostDetails/index.tsx
  packages/frontend/src/pages/Profile/History/services/CommentService.ts
  packages/frontend/src/types/api.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/checkCommentIsMine.ts
  packages/frontend/src/utils/getEpochKeyNonce.ts
  packages/frontend/src/utils/getNonceFromEpochKey.ts
  packages/relay/package.json
  packages/relay/src/index.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  yarn.lock
Labels: frontend, relay

#339 [Relay] Refactor: Move errors to InternalError.ts
  packages/relay/src/routes/comment.ts
  packages/relay/src/routes/counter.ts
  packages/relay/src/routes/myAccount.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/routes/vote.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/singletons/TransactionManager.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/vote.test.ts
Labels: test, relayer, relay

#347 chore: remove status in fetchSiglePost
  packages/relay/src/routes/comment.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/services/PostService.ts
Labels: documentation, test, relay

#334 [Frontend] Fix: Remove useless dependencies in package.json
  packages/frontend/package.json
  yarn.lock
Labels: test, frontend

#335 [Frontend] Refactor: Turn component to normal function rather than arrow function for improving readability
  packages/frontend/src/components/buttons/BackToWelcomeButton.tsx
  packages/frontend/src/components/buttons/CyanButton.tsx
  packages/frontend/src/components/buttons/TwitterButton.tsx
  packages/frontend/src/components/comment/CommentNotification.tsx
  packages/frontend/src/components/comment/CommentPublishTransition.tsx
  packages/frontend/src/components/comment/CommentReportDialog.tsx
  packages/frontend/src/components/comment/DesktopCommentForm.tsx
  packages/frontend/src/components/common/Backdrop.tsx
  packages/frontend/src/components/layout/MobileBottomNav.tsx
  packages/frontend/src/components/layout/UserDropdown.tsx
  packages/frontend/src/components/login/AuthErrorDialog.tsx
  packages/frontend/src/components/login/AuthNoteDialog.tsx
  packages/frontend/src/components/login/LoginButton.tsx
  packages/frontend/src/components/login/SignupPendingTransition.tsx
  packages/frontend/src/components/login/StepInfo.tsx
  packages/frontend/src/components/login/WelcomeBackgroundList.tsx
  packages/frontend/src/components/modal/LogoutModal.tsx
  packages/frontend/src/components/post/PostFailureDialog.tsx
  packages/frontend/src/components/post/PostPublishTransition.tsx
  packages/frontend/src/components/post/VoteFailureDialog.tsx
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useErrorMessage.ts
  packages/frontend/src/hooks/useInitUser.ts
  packages/frontend/src/hooks/useLocalStorage.ts
  packages/frontend/src/hooks/useTwitterVerify.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/OnboardingLayout.tsx
  packages/frontend/src/pages/CreatePost/index.tsx
  packages/frontend/src/pages/Home/HomePostForm.tsx
  packages/frontend/src/pages/Login/InternalLogin.tsx
  packages/frontend/src/pages/Login/index.tsx
  packages/frontend/src/pages/Profile/Avatar.tsx
  packages/frontend/src/pages/Profile/History/TabContent/index.tsx
  packages/frontend/src/pages/Profile/History/TabFilter.tsx
  packages/frontend/src/pages/Profile/History/TabHeader.tsx
  packages/frontend/src/pages/Profile/History/index.tsx
  packages/frontend/src/pages/Profile/Profile/HistoryButton.tsx
  packages/frontend/src/pages/Profile/Profile/LogoutButton.tsx
  packages/frontend/src/pages/Profile/Profile/ReputationButton.tsx
  packages/frontend/src/pages/Profile/Profile/index.tsx
  packages/frontend/src/pages/Profile/ProfileLayout.tsx
  packages/frontend/src/pages/Profile/Reputation/Hint.tsx
  packages/frontend/src/pages/Profile/Reputation/Score.tsx
  packages/frontend/src/pages/Profile/Reputation/index.tsx
  packages/frontend/src/pages/Signup/InternalSignup.tsx
  packages/frontend/src/pages/Signup/index.tsx
  packages/frontend/src/pages/Welcome/ExamplePostsList.tsx
Labels: test, frontend

#338 [Frontend] Refactor: Remove unused makeCancellableTask file
  packages/frontend/src/utils/makeCancellableTask.ts
Labels: frontend

#337 [Frontend] Refactor: Remove useless console.log
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/hooks/useVotes.ts
Labels: frontend

#353 [Frontend] Fix/ust 99 fix vote relay
  packages/frontend/src/utils/formatDate.ts
  packages/relay/src/services/VoteService.ts
Labels: documentation, test, frontend, relay

#358 [Relay] test: improve fetch post test
  packages/frontend/src/__tests__/hooks/useCreateComment.test.tsx
  packages/frontend/src/__tests__/hooks/useRemoveComment.test.tsx
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/hooks/useCreateComment.ts
  packages/frontend/src/hooks/useRemoveComment.ts
  packages/relay/src/routes/comment.ts
  packages/relay/src/routes/counter.ts
  packages/relay/src/routes/post.ts
  packages/relay/src/routes/request.ts
  packages/relay/src/routes/signup.ts
  packages/relay/src/routes/transition.ts
  packages/relay/src/routes/user.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/login.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/synchornizer.test.ts
  packages/relay/test/vote.test.ts
Labels: test, frontend, relay

#360 [Frontend] fix: adjust return from create post
  packages/frontend/src/hooks/useCreatePost.ts
Labels: documentation, test, frontend

#336 [Frontend] Fix: Update and organize types
  packages/frontend/src/__tests__/components/comment/Comment.test.tsx
  packages/frontend/src/components/comment/Comment.tsx
  packages/frontend/src/components/comment/CommentNotification.tsx
  packages/frontend/src/components/post/Post.tsx
  packages/frontend/src/components/ui/animations/LikeAnimation.tsx
  packages/frontend/src/contexts/ProtectedRoute.tsx
  packages/frontend/src/hooks/useCommentEvents.ts
  packages/frontend/src/hooks/useVotes.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Home/HomePostList.tsx
  packages/frontend/src/pages/PostDetail.tsx
  packages/frontend/src/pages/PostDetails/CommentList.tsx
  packages/frontend/src/pages/PostDetails/index.tsx
  packages/frontend/src/pages/Profile/History/DTO/Comment.ts
  packages/frontend/src/pages/Profile/History/DTO/Post.ts
  packages/frontend/src/pages/Profile/History/DTO/Vote.ts
  packages/frontend/src/pages/Profile/History/TabContent/TabContentBody.tsx
  packages/frontend/src/pages/Profile/History/TabContent/TabContentHeader.tsx
  packages/frontend/src/pages/Profile/History/services/CommentService.ts
  packages/frontend/src/pages/Profile/History/services/PostService.ts
  packages/frontend/src/pages/Profile/History/services/VoteService.ts
  packages/frontend/src/pages/Profile/History/types.ts
  packages/frontend/src/socket.ts
  packages/frontend/src/store/storeTypes.ts
  packages/frontend/src/store/useVoteStore.ts
  packages/frontend/src/types/Comments/index.ts
  packages/frontend/src/types/Post/index.ts
  packages/frontend/src/types/Vote/index.ts
  packages/frontend/src/types/api.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/utils/api.ts
  packages/frontend/src/utils/checkCommentIsMine.ts
  packages/frontend/src/utils/checkVoteIsMine.ts
Labels: test, frontend

#279 [Frontend] Fix: Replace the ExamplePostList to real PostList
  packages/frontend/src/__tests__/pages/Welcome.test.tsx
  packages/frontend/src/components/greeting/MobileGreetingTitle.tsx
  packages/frontend/src/components/login/WelcomeBackgroundList.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Login/InternalLogin.tsx
  packages/frontend/src/pages/Welcome/ExamplePostsList.tsx
  packages/frontend/src/pages/Welcome/index.tsx
Labels: feature, test, frontend

#365 [Frontend] [Bugfix] show profile page
  packages/frontend/src/index.tsx
Labels: frontend

#349 [Frontend] fix counter width to be fixed
  packages/frontend/public/index.html
  packages/frontend/src/components/layout/EpochInfo.tsx
  packages/frontend/src/layouts/AppLayout.tsx
Labels: frontend

#351 [Frontend] Fix the countdown
  packages/frontend/src/components/layout/EpochInfo.tsx
Labels: frontend

#364 refactor: consistent file naming
  packages/frontend/src/contexts/User.tsx
  packages/frontend/src/contexts/UserState.ts
  packages/frontend/src/utils/checkCommentIsMine.ts
  packages/frontend/src/utils/getNonceFromEpochKey.ts
  packages/relay/src/index.ts
  packages/relay/src/routes/appConfigRoute.ts
  packages/relay/src/routes/commentRoute.ts
  packages/relay/src/routes/counterRoute.ts
  packages/relay/src/routes/myAccountRoute.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/routes/requestRoute.ts
  packages/relay/src/routes/signupRoute.ts
  packages/relay/src/routes/transitionRoute.ts
  packages/relay/src/routes/userRoute.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/UserService.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/src/services/utils/ActionCountManager.ts
  packages/relay/src/services/utils/ErrorHandler.ts
  packages/relay/src/services/utils/IpfsHelper.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/src/services/utils/Prover.ts
  packages/relay/src/services/utils/SocketManager.ts
  packages/relay/src/services/utils/TransactionManager.ts
  packages/relay/src/services/utils/TwitterClient.ts
  packages/relay/test/environment.ts
  packages/relay/test/login.test.ts
  packages/relay/test/myAccount.test.ts
Labels: refactor, test, frontend, relay

#359 Fix/modify relay comment test
  packages/relay/test/comment.test.ts
Labels: test, relay

#346 [Frontend] Refactor: Add Twitter OAuth callback route
  packages/frontend/src/constants/paths.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Login/TwitterCallback.tsx
  packages/frontend/src/pages/Login/index.tsx
Labels: frontend

#366 [Relay][Fix] Update login callback url
  packages/relay/src/routes/userRoute.ts
Labels: relay
