Repository social-tw/social-tw-website, pull requests merged in 2024-07, with the labels that each got.

#414 [Frontend] add adjudication form
  packages/frontend/package.json
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/constants/ui.ts
  packages/frontend/src/features/reporting/components/AdjudicationForm/AdjudicationForm.test.tsx
  packages/frontend/src/features/reporting/components/AdjudicationForm/AdjudicationForm.tsx
  packages/frontend/src/features/reporting/components/AdjudicationNotification/AdjudicationNotification.tsx
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/features/reporting/utils/apis.ts
  packages/frontend/tailwind.config.js
  yarn.lock
Labels: contracts, frontend, relay

#417 [Frontend] submit adjudication flow
  packages/frontend/package.json
  packages/frontend/src/assets/svg/close.svg
  packages/frontend/src/assets/svg/gavel-raised.svg
  packages/frontend/src/assets/svg/gavel.svg
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/constants/report.ts
  packages/frontend/src/features/reporting/components/Adjudicate/Adjudicate.test.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/Adjudicate.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateActions.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateDialog.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateFailure.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateForm.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicatePending.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/AdjudicateSuccess.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/ReportContent.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/ReportReason.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateButton.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.test.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/components/AdjudicationForm/AdjudicationForm.test.tsx
  packages/frontend/src/features/reporting/components/AdjudicationForm/AdjudicationForm.tsx
  packages/frontend/src/features/reporting/components/AdjudicationNotification/AdjudicationNotification.test.tsx
  packages/frontend/src/features/reporting/components/AdjudicationNotification/AdjudicationNotification.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.test.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
  packages/frontend/src/features/reporting/hooks/useFetchReports/useFetchReports.test.ts
  packages/frontend/src/features/reporting/hooks/useFetchReports/useFetchReports.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.test.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.ts
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/features/reporting/utils/apis.ts
  packages/frontend/src/features/reporting/utils/helpers.ts
  packages/frontend/src/features/reporting/utils/types.ts
  packages/frontend/src/utils/helpers/epochKey.ts
Labels: test, frontend

#424 [Relay] set object into report
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/test/report.test.ts
Labels: test, relay

#416 [UST125][Relay] feat: settle report
  packages/relay/src/config.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/src/types/Comment.ts
  packages/relay/src/types/Post.ts
  packages/relay/src/types/Report.ts
  packages/relay/test/report.test.ts
Labels: feature, test, relay

#422 [Frontend] [Fix] comment notification
  packages/frontend/src/features/post/components/ActionBtn/index.tsx
  packages/frontend/src/features/post/components/Comment/Comment.test.tsx
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/CommentNotification/CommentNotification.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/utils/helpers/epochKey.ts
Labels: frontend

#430 Chore/add data in circuit public signal
  packages/circuits/circuits/reportNegRepProof.circom
  packages/circuits/circuits/reportNullifierProof.circom
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportNegRep.test.ts
  packages/circuits/test/proveReportNullifier.test.ts
  packages/circuits/test/types.ts
  packages/circuits/test/utils.ts
  packages/circuits/zksnarkBuild/reportNegRepProof.vkey.json
  packages/circuits/zksnarkBuild/reportNegRepProof.wasm
  packages/circuits/zksnarkBuild/reportNegRepProof.zkey
  packages/circuits/zksnarkBuild/reportNullifierProof.vkey.json
  packages/circuits/zksnarkBuild/reportNullifierProof.wasm
  packages/circuits/zksnarkBuild/reportNullifierProof.zkey
  packages/circuits/zksnarkBuild/reportNullifierProof_main.circom
  packages/contracts/contracts/verifierHelpers/ReportNegRepVHelper.sol
  packages/contracts/contracts/verifierHelpers/ReportNullifierVHelper.sol
  packages/contracts/test/VHelperManager.test.ts
  packages/contracts/test/VHelpers.test.ts
  packages/contracts/test/Verifiers.test.ts
  packages/contracts/test/utils.ts
Labels: feature, test, contracts

#423 Feat contract claim pos rep
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/ClaimReportPosRep.test.ts
Labels: test, contracts

#428 [Fix][Relay] check epk proof before fetch report
  packages/relay/src/routes/reportRoute.ts
  packages/relay/test/report.test.ts
  packages/relay/test/utils/genNullifier.ts
Labels: test, relay

#425 [FIX] [Frontend] fix action link and scroll
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.test.tsx
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.test.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/components/CommentFormDesktop/CommentFormDesktop.test.tsx
  packages/frontend/src/features/post/components/PostForm/PostForm.test.tsx
  packages/frontend/src/features/post/components/PostForm/PostForm.tsx
  packages/frontend/src/features/shared/components/RichTextEditor/index.tsx
  packages/frontend/src/features/shared/components/RichTextEditor/plugins/ClearAllPlugin.tsx
  packages/frontend/src/utils/test-helpers/render.tsx
  packages/frontend/src/utils/test-helpers/wrapper.tsx
  tsconfig.json
Labels: feature, test, frontend

#437 [Relay] Fetch reputation history
  packages/relay/src/db/schema.ts
  packages/relay/src/routes/reputationRoute.ts
  packages/relay/src/services/ReputationService.ts
  packages/relay/src/types/Reputation.ts
  packages/relay/test/mocks/reputations.ts
  packages/relay/test/myAccount.test.ts
  packages/relay/test/reputation.test.ts
  packages/relay/test/synchronizer.test.ts
  packages/relay/test/utils/sqlHelper.ts
Labels: feature, test, relayer, relay

#433 [Frontend] [Report] Reported Mask
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportedMask.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostReportedMask.tsx
Labels: documentation, test, frontend

#438 [Contract] Feat/contract claim neg rep
  packages/circuits/circuits/reportNegRepProof.circom
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportNegRep.test.ts
  packages/circuits/test/utils.ts
  packages/circuits/zksnarkBuild/reportNegRepProof.wasm
  packages/circuits/zksnarkBuild/reportNegRepProof_main.circom
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/ClaimReportNegRep.test.ts
  packages/contracts/test/VHelperManager.test.ts
  packages/contracts/test/VHelpers.test.ts
  packages/contracts/test/Verifiers.test.ts
  packages/contracts/test/utils.ts
Labels: invalid, design, test, contracts

#435 [Contract]Feat contract claim daily login
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/ClaimDailyLoginRep.test.ts
Labels: invalid, test, contracts

#442 [UST-184] [Relayer] Fetch Post & CommentHistory API
  packages/relay/src/routes/commentRoute.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/post.test.ts
Labels: relay

#411 [Frontend][Report] Report Form
  packages/frontend/src/assets/img/report-form-result-close.webp
  packages/frontend/src/assets/img/report-form-result-submitting.webp
  packages/frontend/src/assets/img/report-form-result-success.webp
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/components/ActionBtn/index.tsx
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuBottomSlide.tsx
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuContainer.tsx
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuDropdown.tsx
  packages/frontend/src/features/post/components/ActionMenu/index.tsx
  packages/frontend/src/features/post/components/ActionMenu/useActionMenu.ts
  packages/frontend/src/features/post/components/Comment/Comment.test.tsx
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentActionMenu.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportDialog.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportedMask.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostActionMenu.tsx
  packages/frontend/src/features/post/components/Post/PostReportDialog.tsx
  packages/frontend/src/features/post/components/Post/PostReportedMask.tsx
  packages/frontend/src/features/post/components/Post/tests/PostReportDialog.test.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormCategories.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormCtn.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormIntro.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormReason.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormStep.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitBtn.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitFailure.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitSuccess.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitting.tsx
  packages/frontend/src/features/post/components/ReportForm/index.tsx
  packages/frontend/src/features/post/components/ReportForm/tests/ReportFormCategories.test.tsx
  packages/frontend/src/features/post/components/ReportForm/tests/ReportFormCtn.test.tsx
  packages/frontend/src/features/post/components/ReportForm/tests/ReportFormReason.test.tsx
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.test.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.ts
  packages/frontend/src/features/post/hooks/useReportForm/index.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.test.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/reporting/hooks/useFetchReportCategories/useFetchReportCategories.ts
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/features/reporting/utils/apis.ts
  packages/frontend/src/features/shared/hooks/useDialog.ts
  packages/frontend/src/features/shared/index.ts
  packages/frontend/src/types/Report/index.ts
  packages/frontend/src/utils/api.ts
Labels: feature, frontend

#429 [Relay]Feat relay rep check misc
  packages/relay/src/middlewares/CheckReputationMiddleware.ts
  packages/relay/src/routes/commentRoute.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/types.d.ts
  packages/relay/test/checkReputation.test.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/synchronizer.test.ts
  packages/relay/test/utils/comment.ts
  packages/relay/test/utils/genProof.ts
  packages/relay/test/utils/post.ts
  packages/relay/test/vote.test.ts
Labels: test, relayer, relay

#427 [Frontend] add CheckIn and CheckInNotification component
  packages/frontend/src/assets/img/check-in-campaign.png
  packages/frontend/src/assets/img/check-in-promotion.png
  packages/frontend/src/assets/img/thumb-up.png
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckIn.test.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckIn.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckInDialog.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckInFailure.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckInPending.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckInSuccess.tsx
  packages/frontend/src/features/reporting/components/CheckInNotification/CheckFloatingButton.tsx
  packages/frontend/src/features/reporting/components/CheckInNotification/CheckInNotification.test.tsx
  packages/frontend/src/features/reporting/components/CheckInNotification/CheckInNotification.tsx
  packages/frontend/src/features/reporting/components/DiscardCheckIn/DiscardCheckIn.tsx
  packages/frontend/src/features/reporting/hooks/useCheckIn/useCheckIn.ts
  packages/frontend/src/features/reporting/hooks/useNotifyCheckIn/useNotifyCheckIn.ts
  packages/frontend/src/features/reporting/hooks/useReputationScore/useReputationScore.ts
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/routes/app/layout.tsx
Labels: frontend

#445 [Circuit]add report identity proof
  packages/circuits/.gitignore
  packages/circuits/circuits/reportIdentityProof.circom
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportIdentity.test.ts
  packages/circuits/test/utils.ts
  packages/circuits/zksnarkBuild/dataProof.wasm
  packages/circuits/zksnarkBuild/reportIdentityProof.vkey.json
  packages/circuits/zksnarkBuild/reportIdentityProof.wasm
  packages/circuits/zksnarkBuild/reportIdentityProof.zkey
  packages/circuits/zksnarkBuild/reportNegRepProof.wasm
  packages/circuits/zksnarkBuild/reportNullifierProof.wasm
Labels: documentation, invalid, feature, test, circuit

#443 refactor: block reported content
  packages/relay/src/routes/myAccountRoute.ts
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/src/types/Comment.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/Post.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/report.test.ts
Labels: refactor, test, relay

#446 [Frontend][UST-135] Reputation History
  packages/frontend/craco.config.ts
  packages/frontend/empty-module.js
  packages/frontend/package.json
  packages/frontend/src/assets/svg/calendar-next.svg
  packages/frontend/src/assets/svg/calendar-prev.svg
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
  packages/frontend/src/features/profile/components/ReputationHistory/SearchDayLimitDialog.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SearchBtn.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SearchByDate.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SetDateBtn.tsx
  packages/frontend/src/features/profile/hooks/useReputationHistory/useReputationHistory.ts
  packages/frontend/src/features/shared/components/DatePicker/CustomDatePicker.css
  packages/frontend/src/features/shared/components/DatePicker/DatePicker.tsx
  packages/frontend/src/features/shared/components/Table/TableBody.tsx
  packages/frontend/src/features/shared/components/Table/TableContainer.tsx
  packages/frontend/src/features/shared/components/Table/TableHeader.tsx
  packages/frontend/src/features/shared/components/Table/index.tsx
  packages/frontend/src/features/shared/hooks/useDatePicker.ts
  packages/frontend/src/features/shared/index.ts
  packages/frontend/src/features/shared/services/EpochDateService.test.ts
  packages/frontend/src/features/shared/services/EpochDateService.ts
  packages/frontend/src/routes/app/profile/layout.tsx
  packages/frontend/src/routes/app/profile/reputation/page.tsx
  packages/frontend/src/types/api.ts
  packages/frontend/src/utils/api.ts
  yarn.lock
Labels: documentation, feature, test, frontend

#452 Fix/UI/report form
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuContainer.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportDialog.tsx
  packages/frontend/src/features/post/components/Post/PostReportDialog.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitFailure.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitSuccess.tsx
  packages/frontend/src/features/post/components/ReportForm/ReportFormSubmitting.tsx
  packages/frontend/src/features/post/components/ReportForm/reportFormSubmitting.css
Labels: documentation, test, frontend

#451 [Fix][Contract]fix claim daily login rep function
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/test/ClaimDailyLoginRep.test.ts
  packages/relay/src/middlewares/CheckReputationMiddleware.ts
Labels: test, contracts
