Repository social-tw/social-tw-website, pull requests merged in 2024-08, with the labels that each got.

#456 [Frontend] authenticate with repuration proof
  packages/frontend/craco.config.ts
  packages/frontend/package.json
  packages/frontend/src/features/core/index.ts
  packages/frontend/src/features/core/services/CommentService/CommentService.ts
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/core/services/RelayApiService/RelayApiService.ts
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
  packages/frontend/src/features/core/services/VoteService/VoteService.ts
  packages/frontend/src/features/post/components/Comment/CommentActionMenu.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.test.ts
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.test.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.ts
  packages/frontend/src/features/post/hooks/useRemoveComment/useRemoveComment.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.test.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.test.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.test.tsx
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.test.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
  packages/frontend/src/features/reporting/hooks/useFetchReportCategories/useFetchReportCategories.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.test.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.ts
  packages/frontend/src/features/reporting/utils/apis.ts
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/api.ts
  packages/relay/src/middlewares/CheckReputationMiddleware.ts
  packages/relay/src/routes/commentRoute.ts
  packages/relay/src/routes/postRoute.ts
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/utils/ProofHelper.ts
  yarn.lock
Labels: test, frontend, relay

#458 [Feature] [Frontend] Update my profile history UI
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/features/core/services/CommentService/CommentService.ts
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/core/services/VoteService/VoteService.ts
  packages/frontend/src/features/post/components/CreateComment/CreateComment.tsx
  packages/frontend/src/features/post/components/CreatePost/CreatePost.tsx
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/features/profile/components/AccoutHistory/AccountHistory.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/CommentTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/DatesLimitDialog.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/PostTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/SearchTabs.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/VoteTable.tsx
  packages/frontend/src/features/profile/hooks/useMyCommentHistory/useMyCommentHistory.ts
  packages/frontend/src/features/profile/hooks/useMyPostHistory/useMyPostHistory.ts
  packages/frontend/src/features/profile/hooks/useMyVoteHistory/useMyVoteHistory.ts
  packages/frontend/src/features/profile/index.ts
  packages/frontend/src/features/profile/services/CommentService.ts
  packages/frontend/src/features/profile/services/PostService.ts
  packages/frontend/src/features/profile/services/VoteService.ts
  packages/frontend/src/features/profile/stores/createCommentSlice.ts
  packages/frontend/src/features/profile/stores/createPostSlice.ts
  packages/frontend/src/features/profile/stores/createTabSlice.ts
  packages/frontend/src/features/profile/stores/createVoteSlice.ts
  packages/frontend/src/features/profile/stores/useProfileHistoryStore.ts
  packages/frontend/src/features/profile/utils/errors.ts
  packages/frontend/src/features/profile/utils/helpers.ts
  packages/frontend/src/features/profile/utils/types.ts
  packages/frontend/src/features/reporting/hooks/usePendingReports/usePendingReports.test.ts
  packages/frontend/src/features/shared/hooks/useDatePicker.ts
  packages/frontend/src/features/shared/index.ts
  packages/frontend/src/features/shared/services/EpochDateService.test.ts
  packages/frontend/src/features/shared/services/EpochDateService.ts
  packages/frontend/src/routes/app/profile/history/TabContent/TabContentBody.tsx
  packages/frontend/src/routes/app/profile/history/TabContent/TabContentHeader.tsx
  packages/frontend/src/routes/app/profile/history/TabContent/index.tsx
  packages/frontend/src/routes/app/profile/history/TabFilter.tsx
  packages/frontend/src/routes/app/profile/history/TabHeader.tsx
  packages/frontend/src/routes/app/profile/history/page.tsx
  packages/frontend/src/routes/full-screen/write-post/page.tsx
  packages/frontend/src/types/Vote/index.ts
  packages/frontend/src/types/api.ts
  packages/relay/src/routes/voteRoute.ts
  packages/relay/src/services/VoteService.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/VoteAction.ts
Labels: test, frontend, relay

#447 [Relay]Feat add proof on vote on report
  packages/circuits/scripts/circuits.ts
  packages/circuits/test/proveReportIdentity.test.ts
  packages/circuits/zksnarkBuild/reportIdentityProof.vkey.json
  packages/circuits/zksnarkBuild/reportIdentityProof.wasm
  packages/circuits/zksnarkBuild/reportIdentityProof.zkey
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/checkReputation.test.ts
  packages/relay/test/comment.test.ts
  packages/relay/test/counter.test.ts
  packages/relay/test/environment.ts
  packages/relay/test/login.test.ts
  packages/relay/test/myAccount.test.ts
  packages/relay/test/post.test.ts
  packages/relay/test/report.test.ts
  packages/relay/test/reputation.test.ts
  packages/relay/test/synchronizer.test.ts
  packages/relay/test/utils/UserStateFactory.ts
  packages/relay/test/utils/genAuthentication.ts
  packages/relay/test/utils/genNullifier.ts
  packages/relay/test/utils/genProof.ts
  packages/relay/test/utils/post.ts
  packages/relay/test/utils/signUp.ts
  packages/relay/test/utils/signup.ts
  packages/relay/test/utils/sqlHelper.ts
  packages/relay/test/utils/types.ts
  packages/relay/test/utils/userHelper.ts
  packages/relay/test/vote.test.ts
Labels: test, contracts, relay

#448 [UST-142] [Relay] feat: checkin api
  packages/relay/doc/checkin.md
  packages/relay/src/routes/checkinRoute.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/test/checkin.test.ts
  packages/relay/test/utils/reputation.ts
Labels: documentation, test, relay

#461 Feat contract onlyowner check
  packages/contracts/abi/UnirepApp.json
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/contracts/verifierHelpers/VerifierHelperManager.sol
  packages/contracts/scripts/utils/deployUnirepSocialTw.ts
  packages/contracts/scripts/utils/deployVerifiersAndHelpers.ts
  packages/contracts/test/ClaimDailyLoginRep.test.ts
  packages/contracts/test/ClaimReportNegRep.test.ts
  packages/contracts/test/ClaimReportPosRep.test.ts
  packages/contracts/test/VHelperManager.test.ts
  packages/contracts/test/utils.ts
Labels: feature, test, contracts

#465 [Fix] [Frontend] adjust report flow
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/components/WelcomePostList/WelcomePostList.tsx
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.test.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.test.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/utils/types.ts
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/Comments/index.ts
  packages/frontend/src/types/Post/index.ts
Labels: invalid, frontend

#464 Fix/claim rep problem
  packages/circuits/circuits/reportIdentityProof.circom
  packages/circuits/circuits/reportNonNullifierProof.circom
  packages/circuits/circuits/reportNullifierProof.circom
  packages/circuits/test/proveReportIdentity.test.ts
  packages/circuits/test/proveReportNonNullifier.test.ts
  packages/circuits/test/proveReportNullifier.test.ts
  packages/circuits/test/utils.ts
  packages/circuits/zksnarkBuild/reportIdentityProof.wasm
  packages/circuits/zksnarkBuild/reportIdentityProof.zkey
  packages/circuits/zksnarkBuild/reportNonNullifierProof.vkey.json
  packages/circuits/zksnarkBuild/reportNonNullifierProof.wasm
  packages/circuits/zksnarkBuild/reportNonNullifierProof.zkey
  packages/circuits/zksnarkBuild/reportNullifierProof.vkey.json
  packages/circuits/zksnarkBuild/reportNullifierProof.wasm
  packages/circuits/zksnarkBuild/reportNullifierProof.zkey
  packages/contracts/contracts/verifierHelpers/ReportNonNullifierVHelper.sol
  packages/contracts/contracts/verifierHelpers/ReportNullifierVHelper.sol
  packages/contracts/test/ClaimReportNegRep.test.ts
  packages/contracts/test/ClaimReportPosRep.test.ts
  packages/contracts/test/VHelperManager.test.ts
  packages/contracts/test/VHelpers.test.ts
  packages/contracts/test/Verifiers.test.ts
  packages/contracts/test/utils.ts
  packages/relay/test/report.test.ts
  packages/relay/test/utils/genNullifier.ts
  packages/relay/test/utils/genProof.ts
Labels: contracts

#468 [UST-136] [Feature] generate report identity proof when submitting adjudication request
  packages/circuits/package.json
  packages/circuits/src/ReportIdentityProof.ts
  packages/circuits/src/index.ts
  packages/contracts/package.json
  packages/frontend/package.json
  packages/frontend/src/features/core/index.ts
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
  packages/frontend/src/features/core/utils/genReportIdentityProof.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.test.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
  packages/relay/package.json
  packages/relay/src/services/ReportService.ts
  packages/relay/src/services/utils/ProofHelper.ts
Labels: documentation, test, contracts, frontend, circuit, relay

#454 [UST-140] [Frontend] feat: forbid user actions
  packages/frontend/src/features/post/components/Comment/CommentActionMenu.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostActionMenu.tsx
  packages/frontend/src/features/post/components/PostForm/PostForm.test.tsx
  packages/frontend/src/features/post/components/PostForm/PostForm.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.ts
  packages/frontend/src/features/post/hooks/useCreatePost/useCreatePost.ts
  packages/frontend/src/features/post/hooks/useRemoveComment/useRemoveComment.ts
  packages/frontend/src/features/reporting/hooks/useNotifyCheckIn/useNotifyCheckIn.ts
  packages/frontend/src/features/reporting/hooks/useReputationScore/useReputationScore.ts
  packages/frontend/src/features/shared/components/Dialog/ForbidActionDialog.tsx
  packages/frontend/src/features/shared/stores/dialog.ts
  packages/frontend/src/routes/app/layout.tsx
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/routes/app/profile/reputation/page.tsx
  packages/frontend/src/routes/full-screen/layout.tsx
Labels: test, frontend

#467 [UST-161] [Frontend] [Feature]add check in flow
  packages/frontend/src/features/core/components/ActionNotification/ActionNotification.tsx
  packages/frontend/src/features/core/components/ActionTable/ActionTable.tsx
  packages/frontend/src/features/core/index.ts
  packages/frontend/src/features/core/services/UserService/UserService.ts
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/components/PostForm/PostForm.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckIn.tsx
  packages/frontend/src/features/reporting/components/CheckIn/CheckInSuccess.tsx
  packages/frontend/src/features/reporting/hooks/useCheckIn/useCheckIn.ts
  packages/frontend/src/features/shared/components/RichTextEditor/index.tsx
Labels: documentation, feature, test, frontend

#470 [UST-193][Circuit] Improve Proof’s Readability
  packages/circuits/circuits/reportIdentityProof.circom
  packages/circuits/circuits/reportNonNullifierProof.circom
  packages/circuits/circuits/reportNullifierProof.circom
  packages/circuits/src/ReportIdentityProof.ts
  packages/circuits/src/ReportNonNullifierProof.ts
  packages/circuits/src/ReportNullifierProof.ts
  packages/circuits/src/index.ts
  packages/circuits/src/types.ts
  packages/circuits/src/utils.ts
  packages/circuits/test/proveReportIdentity.test.ts
  packages/circuits/test/proveReportNonNullifier.test.ts
  packages/circuits/test/proveReportNullifier.test.ts
  packages/circuits/test/utils.ts
Labels: feature, test, circuit

#473 [Frontend] Force to check epochKey with userState and epoch
  packages/frontend/src/features/core/services/CommentService/CommentService.ts
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/core/services/VoteService/VoteService.ts
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/CommentNotification/CommentNotification.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/features/reporting/hooks/useReputationScore/useReputationScore.ts
  packages/frontend/src/utils/helpers/checkCommentIsMine.ts
  packages/frontend/src/utils/helpers/epochKey.ts
  packages/frontend/src/utils/helpers/getEpochKeyNonce.test.ts
Labels: frontend

#484 fix: content return status
  packages/relay/src/services/CommentService.ts
  packages/relay/src/services/PostService.ts
  packages/relay/test/report.test.ts
Labels: relay

#474 [Fix][Relay]update post order after report
  packages/relay/src/routes/reportRoute.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/test/report.test.ts
Labels: relay

#485 fix: signup loop
  packages/relay/src/services/UserService.ts
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
Labels: relay

#488 fix: adjust AdjudicateValue
  packages/relay/src/types/Report.ts
Labels: relay

#480 [Frontend] add the blocked mask
  packages/frontend/src/assets/svg/gavel-closed.svg
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentBlockedMask.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostBlockedMask.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/Post/index.ts
Labels: frontend

#483 [Fix] refetch reports after adjudication
  packages/frontend/src/features/auth/hooks/useSignup/useSignup.ts
  packages/frontend/src/features/reporting/hooks/useAdjudicate/useAdjudicate.ts
Labels: frontend

#440 [Relay] [UST-171] [UST-172] Feature/ust 171 claim positive reputation api
  packages/circuits/test/proveReportNullifier.test.ts
  packages/relay/src/routes/reportsRoute.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/services/utils/ProofHelper.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/Reputation.ts
  packages/relay/test/report.test.ts
  packages/relay/test/reputation_claim.test.ts
Labels: documentation, invalid, feature, test, relay

#478 [Fix] [Frontend] adjust UI styles
  packages/frontend/src/features/post/components/ActionMenu/ActionMenuBottomSlide.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/CommentTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/PostTable.tsx
  packages/frontend/src/features/profile/components/AccoutHistory/VoteTable.tsx
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SearchBtn.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SearchByDate.tsx
  packages/frontend/src/features/profile/components/SearchByDate/SetDateBtn.tsx
  packages/frontend/src/features/profile/hooks/useReputationHistory/useReputationHistory.ts
  packages/frontend/src/features/shared/components/DatePicker/CustomDatePicker.css
  packages/frontend/src/features/shared/components/MobileBottomNav/MobileBottomNav.tsx
  packages/frontend/src/features/shared/components/Table/TableBody.tsx
  packages/frontend/src/routes/app/layout.tsx
  packages/frontend/src/routes/app/posts/page.tsx
  packages/frontend/src/routes/app/profile/layout.tsx
Labels: frontend

#486 [Frontend] setup IndexedDB
  packages/frontend/package.json
  packages/frontend/src/features/auth/components/ProtectedRoute/ProtectedRoute.tsx
  packages/frontend/src/features/auth/components/SignupPendingTransition/SignupPendingTransition.tsx
  packages/frontend/src/features/auth/hooks/useAuthStatus/useAuthStatus.ts
  packages/frontend/src/features/core/hooks/useUserState/useUserState.ts
  packages/frontend/src/features/shared/components/MobileBottomNav/MobileBottomNav.tsx
  packages/frontend/src/features/shared/components/ResetStorage/ResetStorage.tsx
  packages/frontend/src/setupTests.ts
  packages/frontend/src/utils/schema.ts
  yarn.lock
Labels: frontend

#489 fix: adjudicate value inconsistent
  packages/relay/src/services/singletons/UnirepSocialSynchronizer.ts
  packages/relay/src/types/Report.ts
  packages/relay/test/report.test.ts
Labels: design, relay
