Repository social-tw/social-tw-website, pull requests merged in 2025-01, with the labels that each got.

#614 [Frontend] Fix double scrollbar in the action dialog
  packages/frontend/src/features/core/components/ActionWidget/ActionDialog.tsx
  packages/frontend/src/features/core/components/ActionWidget/ActionTable.tsx
Labels: frontend

#615 [Frontend] Restore scroll position when navigating the previous page
  packages/frontend/src/routes/app/layout.desktop.tsx
  packages/frontend/src/routes/app/layout.mobile.tsx
Labels: frontend

#617 [Frontend] Highlight the focused comment
  packages/frontend/src/features/auth/index.ts
  packages/frontend/src/features/core/components/ActionWidget/ActionTable.tsx
  packages/frontend/src/features/core/components/ActionWidget/ActionTracker.tsx
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentBlockedMask.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportedMask.tsx
  packages/frontend/src/features/post/components/CommentList/CommentList.tsx
  packages/frontend/src/features/post/components/CommentReportDialog/CommentReportDialog.tsx
  packages/frontend/src/features/post/hooks/useCreateComment/useCreateComment.ts
  packages/frontend/src/features/post/hooks/useRemoveComment/useRemoveComment.ts
  packages/frontend/src/features/post/index.ts
Labels: frontend

#616 [Frontend] Keep history result in profile page
  packages/frontend/src/features/profile/components/AccoutHistory/AccountHistory.tsx
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
  packages/frontend/src/features/shared/hooks/useDatePicker.ts
Labels: frontend

#619 [Frontend] Fix the position of post editor on the desktop screen
  packages/frontend/src/features/post/components/PostPublishTransition/PostPublishTransition.tsx
  packages/frontend/src/routes/app/layout.desktop.tsx
  packages/frontend/src/routes/app/layout.mobile.tsx
  packages/frontend/src/routes/app/posts/page.tsx
Labels: frontend

#621 [Frontend] Adjust UI Tour styles and settings
  packages/frontend/src/features/core/components/UITour/UITour.tsx
Labels: frontend

#625 [Frontend] Send notification for the result of the report that users adjudicate
  packages/frontend/src/features/notification/components/NotificationItem/NotificationItem.tsx
  packages/frontend/src/features/reporting/hooks/useBackgroundReputationClaim/useBackgroundReputationClaim.ts
  packages/frontend/src/features/reporting/hooks/useReportAdjudicatorReputation/useReportAdjudicatorReputation.ts
  packages/frontend/src/features/reporting/hooks/useReportEpochKeyReputation/useReportEpochKeyReputation.ts
  packages/frontend/src/types/Report/index.ts
  packages/frontend/src/types/api.ts
  packages/frontend/src/utils/api.ts
Labels: frontend

#618 [Frontend] Refactor voting and leaving-comment implementation
  packages/frontend/src/assets/img/downvote-lg.png
  packages/frontend/src/assets/img/upvote-lg.png
  packages/frontend/src/features/post/components/CommentFormMobile/CommentFormMobile.tsx
  packages/frontend/src/features/post/components/LikeAnimation/LikeAnimation.tsx
  packages/frontend/src/features/post/components/Post/Post.tsx
  packages/frontend/src/features/post/components/Post/PostBlockedMask.tsx
  packages/frontend/src/features/post/components/Post/PostFooter.tsx
  packages/frontend/src/features/post/components/Post/tests/PostReportDialog.test.tsx
  packages/frontend/src/features/post/components/PostItem/ActionMenu.tsx
  packages/frontend/src/features/post/components/PostItem/BlockedMask.tsx
  packages/frontend/src/features/post/components/PostItem/Downvote.tsx
  packages/frontend/src/features/post/components/PostItem/LeaveComment.tsx
  packages/frontend/src/features/post/components/PostItem/PostItem.tsx
  packages/frontend/src/features/post/components/PostItem/PostReportDialog.tsx
  packages/frontend/src/features/post/components/PostItem/ReportedMask.tsx
  packages/frontend/src/features/post/components/PostItem/Share.tsx
  packages/frontend/src/features/post/components/PostItem/Upvote.tsx
  packages/frontend/src/features/post/components/PostItem/VoteFailureDialog.tsx
  packages/frontend/src/features/post/components/PostList/PostList.tsx
  packages/frontend/src/features/post/components/ShareLinkTransition/ShareLinkTransition.tsx
  packages/frontend/src/features/post/components/WelcomePostList/WelcomePostList.tsx
  packages/frontend/src/features/post/hooks/useBlockMask/useBlockMask.ts
  packages/frontend/src/features/post/hooks/useReportMask/useReportMask.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
  packages/frontend/src/features/post/index.ts
  packages/frontend/src/routes/app/posts/[id]/page.tsx
  packages/frontend/src/types/Post/index.ts
  packages/frontend/src/utils/helpers/epochKey.ts
  packages/frontend/tailwind.config.js
Labels: frontend

#623 [Frontend] Display comment content on the report dialog
  packages/frontend/src/features/post/components/Comment/Comment.tsx
  packages/frontend/src/features/post/components/Comment/CommentActionMenu.tsx
  packages/frontend/src/features/post/components/Comment/CommentReportDialog.tsx
  packages/frontend/src/features/post/components/PostItem/PostReportDialog.tsx
  packages/frontend/src/features/reporting/components/Adjudicate/ReportContent.tsx
Labels: frontend

#599 [Frontend][UST-285] voting add user state transition
  packages/frontend/src/features/post/hooks/useVotes/useVotes.test.ts
  packages/frontend/src/features/post/hooks/useVotes/useVotes.ts
Labels: frontend

#633 Revert 629 refactor/remove epkhelper contract
  packages/contracts/contracts/UnirepApp.sol
  packages/contracts/contracts/interfaces/IVerifierHelper.sol
  packages/contracts/contracts/verifierHelpers/DailyClaimVHelper.sol
  packages/contracts/contracts/verifierHelpers/ReportNonNullifierVHelper.sol
  packages/contracts/contracts/verifierHelpers/ReportNullifierVHelper.sol
  packages/contracts/contracts/verifierHelpers/VerifierHelperManager.sol
  packages/contracts/scripts/utils/deployUnirepSocialTw.ts
  packages/contracts/test/ClaimDailyLoginRep.test.ts
  packages/contracts/test/Comment.test.ts
  packages/contracts/test/SignupAndPost.test.ts
  packages/contracts/test/VHelpers.test.ts
  packages/contracts/test/Verifiers.test.ts
  packages/contracts/test/utils.ts
  packages/relay/test/checkReputation.test.ts
Labels: documentation, feature, refactor, test, contracts, relay

#628 [Frontend] Display the report category on the mask
  packages/frontend/src/features/post/components/PostItem/ReportedMask.tsx
  packages/frontend/src/features/post/components/PostItem/SeeContent.tsx
  packages/frontend/src/features/post/components/ReportedMask/ActionLinks.tsx
  packages/frontend/src/features/post/components/ReportedMask/ConfirmDialog.tsx
  packages/frontend/src/features/post/components/ReportedMask/ReportReason.tsx
  packages/frontend/src/features/post/hooks/usePostReportReason/usePostReportReason.ts
  packages/frontend/src/features/post/hooks/useReportPost/useReportPost.ts
  packages/frontend/src/features/post/index.ts
  packages/frontend/src/features/reporting/hooks/useReportCategoryLabel/useReportCategoryLabel.ts
  packages/frontend/src/features/reporting/index.ts
  packages/frontend/src/types/Post/index.ts
  packages/relay/src/services/PostService.ts
  packages/relay/src/types/Post.ts
Labels: frontend, relay

#631 feat: add pending ui on the report details page
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/constants/queryKeys.ts
  packages/frontend/src/routes/app/reports/[id]/page.tsx
  packages/frontend/src/routes/router.tsx
Labels: frontend

#632 [Frontend] Remove reputation check when fetching the report details
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
Labels: frontend

#634 [Frontend][UST-281] fix notification
  packages/frontend/src/features/notification/stores/useNotificationStore.test.tsx
  packages/frontend/src/features/notification/stores/useNotificationStore.tsx
  packages/frontend/src/features/reporting/components/AdjudicateNotification/AdjudicateNotification.tsx
  packages/frontend/src/types/Notifications/index.ts
Labels: duplicate, feature, test, frontend
