Repository social-tw/social-tw-website, pull requests merged in 2025-02, with the labels that each got.

#635 [UST-196][Contract][FIX] Check if reputation is negative and the epoch last claimed proof < 1 day
  packages/contracts/contracts/UnirepApp.sol
Labels: contracts

#638 feat: replace epochKey proof with reputation proof
  packages/frontend/src/features/core/services/CommentService/CommentService.ts
  packages/frontend/src/features/core/services/PostService/PostService.ts
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
  packages/frontend/src/features/core/services/UserService/UserService.ts
  packages/frontend/src/features/core/services/VoteService/VoteService.ts
  packages/frontend/src/features/core/utils/genDailyClaimProof.ts
  packages/frontend/src/features/profile/components/ReputationHistory/ReputationHistory.tsx
Labels: frontend

#639 fix: comment report content mismatch
  packages/frontend/src/features/core/services/ReportService/ReportService.ts
  packages/frontend/src/features/core/stores/actions.ts
  packages/frontend/src/features/post/hooks/useReportComment/useReportComment.ts
  packages/frontend/src/types/Report/index.ts
  packages/frontend/src/utils/api.ts
  packages/relay/src/db/schema.ts
  packages/relay/src/services/ReportService.ts
  packages/relay/src/types/InternalError.ts
  packages/relay/src/types/Report.ts
  packages/relay/test/report.test.ts
  packages/relay/test/reputation_claim.test.ts
Labels: feature, test, frontend, relay
